---
pagination:
  data: collections.resourcesPaginatedByType
  size: 1
  alias: type
permalink: /{{ type.slug }}/index.html
folder: [resource]
---

{% extends "layouts/page.njk" %}

{% set title = type.title %}
{% set titlePrefix = 'Resource' %}

{% block pageContent %}
  <section>
    {% set postsList = type.items %}
    {% include "components/post-list.njk" %}
  </section>

  {% if type.totalPages > 1 %}
    <nav>
      <p>
        Viewing page {{ type.pageNumber }} of {{ type.totalPages }},
        {% if type.pageSlugs.previous %}<a href="/{{ type.pageSlugs.previous }}/">Previous Page</a>{% endif %}
        {% if type.pageSlugs.next %}<a href="/{{ type.pageSlugs.next }}/">Next Page</a>{% endif %}
      </p>
    </nav>
  {% endif %}
{% endblock %}