html:root, html.theme-dark, .theme-picker li.theme-dark {
    /* Base Palette */
    --background: #18181c;
    --background-muted: #494f5c;
    --foreground: #e1dede;
    --foreground-muted: #a5a1a3;
    --accent: #fbc367;

    /* Jumbo Nav Colours */
    --jumbo-nav-background-color: #001d21;
    --jumbo-nav-text-color: white;
    --jumbo-nav-accent-color: rgb(205 203 255);
    --jumbo-nav-anchor-color: rgb(205 203 255);
    --jumbo-nav-anchor-hover-color: #ff353f;

    /* Footer Colours */

}

html.theme-camel-sands, .theme-picker li.theme-camel-sands {
    --background: #f5e4bc;
    --background-muted: #ecc979;
    --foreground: #292823;
    --foreground-muted: #19264b;
    --accent: #ff353f;

    --jumbo-nav-background-color: #45312b;
    --jumbo-nav-accent-color: var(--background-muted);
    --jumbo-nav-anchor-color: var(--background-muted);
    --jumbo-nav-anchor-hover-color: var(--accent);
}

html.theme-corn-flower, .theme-picker li.theme-corn-flower {
    --background: #f3fbfe;
    --background-muted: #dfecf1;
    --foreground: #232323;
    --foreground-muted: #384043;
    --accent: #7754b0;

    --jumbo-nav-background-color: #0B0026;
}

html.theme-chocolate-thunda, .theme-picker li.theme-chocolate-thunda {
    --background: #34252F;
    --background-muted: #3B5249;
    --foreground: #BEC5AD;
    --foreground-muted: #A4B494;
    --accent: #519872;
}

html.theme-coffee, .theme-picker li.theme-coffee {
    --background: #54311A;
    --background-muted: #844F39;
    --foreground: #F5E7DE;
    --foreground-muted: #fbc367;
    --accent: #ffb079;

    --jumbo-nav-background-color: #2b190d;
    --jumbo-nav-accent-color: var(--accent);
    --jumbo-nav-anchor-color: var(--accent);
}

html.theme-summer, .theme-picker li.theme-summer {
    --background: #F6F7EB;
    --background-muted: #dde3be;
    --foreground: #34435E;
    --foreground-muted: #B57F50;
    --accent: #FF6392;
}

html.theme-blush, .theme-picker li.theme-blush {
    --background: #eddad1;
    --background-muted: #edc8b7;
    --foreground: #113d6a;
    --foreground-muted: #bab1b5;
    --accent: #ab3c61;
}

html.theme-blue, .theme-picker li.theme-blue {
    --background: #234E70;
    --background-muted: #426682;
    --foreground: #FBF8BE;
    --foreground-muted: #bdc5ad;
    --accent: #fbbc55;
}