---
pagination:
  data: collections.contentPaginatedByYearMonth
  size: 1
  alias: yearMonth
permalink: /writing/{{ yearMonth.slug }}/index.html
folder: writing
---

{% extends "../_includes/layouts/page.njk" %}
{% set title = yearMonth.title %}
{% block content %}
  <section>
    <h1>{{ yearMonth.title }}</h1>

    {% set displayContentType = true %}
    {% set postsList = yearMonth.items | reverse %}
    {% include "../_includes/components/post-list.njk" %}
  </section>
{% endblock %}