---
pagination:
  data: collections.contentPaginatedByYearMonth
  size: 1
  alias: yearMonth
permalink: /writing/{{ yearMonth.slug }}/index.html
folder: writing
titlePrefix: Index
---
{% set title = yearMonth.title %}
{% extends "../_includes/layouts/page.njk" %}

{% block pageContent %}
  <section>
    {% set displayContentType = true %}
    {% set postsList = yearMonth.items | reverse %}
    {% include "../_includes/components/post-list.njk" %}
  </section>

  {% include '../_includes/components/planting-times.njk' %}
{% endblock %}