{% extends "../_includes/layouts/page.njk" %}

{% set allPosts = collections.post | excludeStubs | excludeTypes(['mirror', 'resource']) | reverse %}
{% set postsByYear = allPosts | groupByYear %}
{% set title = 'Blog Archive' %}

{% block content %}
    <small class="heading-prefix"><span>Index</span></small>
    <h1>Writing Archive</h1>
    <p>There have been <strong>{{ allPosts.length }}</strong> items published since April 20, 2007:</p>

    {% for year, items in postsByYear %}
        <section>
            <header>
                <h3>{{ year }}</h3>
                <nav>
                    {% set postsByMonth = items | groupByMonth %}
                    {% set year = year %}
                    {% include '../_includes/components/months-of-year.njk' %}
                </nav>
            </header>
            {% set displayContentType = true %}
            {% set postsList = items %}
            {% include "../_includes/components/post-list.njk" %}
        </section>
    {% endfor %}

    {% include '../_includes/components/hot-topics.njk' %}
{% endblock %}
