---
title: Hello
---
{% extends "layouts/base.njk" %}

{% block sidebar %}

    {% include "components/partials/avi-ascii.njk" %}

{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Avatars</h1>
        </header>
        <section>
            ...
        </section>
    </article>
{% endblock %}



