<div class="folder" id="{{ item.id }}">
    <a href="#{{ item.id }}">
        <img class="app-icon" src="{{ item.image }}" alt="Album Image"/>
        <p class="album-name">{{ item.name }}</p>
        <p class="artist-name">{{ item.artist | joinList }}</p>
    </a>
</div>
