<section>
    <ul>
        <li><pre>index_navigation: {% if index_navigation %}{{ index_navigation }}{% else %}(growth-stages){% endif %}</pre></li>
        <li><pre>sidebar_topic: {{ sidebar_topic }}</pre></li>
        <li><pre>sidebar_component: components/listings/{{ sidebar_component }}</pre></li>
        <li><pre>navigation_component: {{ navigation_component or '(none)' }}</pre></li>
    </ul>
</section>