<li>
    <span>
        {% if post.data.draft %}
        <span style="color: red">(D)</span>
        {% endif %}
        <a href="{{ post.url }}" title="Read {{ post.data.title }}">{{ post.data.title }}</a>
        {% if displayContentType %}
            <small class="content-type">{{ post.data.contentType }}</small>
        {% endif %}
        {% if displayResourceType and post.data.contentType == 'resource' %}
            <small class="content-type">{{ post.data.resourceType }}</small>
        {% endif %}
        {% if post.data.rating %}
            {{ post.data.rating | ratingToStars }}
        {% endif %}
    </span>
    <hr/>
    <small>
        {% if post.data.growthStage === 'stub' %}Due {% endif %}
        {{ post.date | dateToFormat("DDD") }}
    </small>
</li>