{% for tag in tags | excludeSpecialTags(['type', 'resource']) | formatTagList %}<a href="{{ tag.permalink }}" title="Visit {{ tag.title }} index">{{ tag.title }}</a>{{ ' and ' if loop.revindex == 2 }}{{ ', ' if loop.revindex > 2 }}{% endfor %}
