<aside>
    <blockquote>
        <p>
            Please consider <a href="https://archive.org/donate">donating to the Internet Archive &ndash; creators and maintainers of the Wayback Machine, as well as many other Library of Alexandria-esque Internet&hellip; um, archival programs - right here</a>.
        </p>
    </blockquote>
</aside>