---
    permalink: "404.html"
---

{% extends "_includes/layouts/page.njk" %}
{% set title = '404 Not Found' %}

{% block content %}
    <h1>Uh oh! That page can't be found.</h1>
    <p>If you reached this page from a broken link elsewhere please get in touch, I rearranged the URL schema of this website and may have forgotten to set up a redirect.</p>
{% endblock %}