{% extends "_includes/default.njk" %}

{% block title %}About{% endblock %}

{% block body_class %}light patterned{% endblock %}

{% block content %}
    <header class="py-12 md:py-36 lg:py-48 grid grid-cols-12">
        <div class="col-start-2 col-span-10 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-5">
            <h1 class="mb-8 text-6xl md:text-8xl font-bold leading-normal tracking-tighter">
                About
            </h1>
            <p class="text-2xl mb-2">
                Proud father to two incredible little girls,<br>
                I make things with computers.<br>
                <small>#golang, #php and #javascript</small> 🌱
            </p>
        </div>
    </header>
    <section class="pb-12 grid grid-cols-12" style="background-color: var(--light-transparent)">
        <div class="col-start-2 col-end-8 pr-8">
            <p>
                I have written a lot of about me pages over the years and it never seems to get easier.
            </p>
        </div>
        <div class="col-span-5" style="margin-top: -15rem;border-radius: 10px 0 0 10px;overflow: hidden;">
            <img alt="tmp" style="width:100%" src="https://images.unsplash.com/photo-1524293568345-75d62c3664f7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=354&q=80"/>
        </div>
    </section>
{% endblock %}