{% extends "_includes/layouts/base.njk" %}

{% set postslist = collections.post %}

{% block title %}Blog{% endblock %}

{% block content %}

    <article>
        <h1>Blog Archive</h1>
        <p>There have been {{ postslist.length }} posts published since April 20, 2007:</p>
        <section>
            <ol reversed class="post-list">
            {% for post in postslist | reverse %}
                <li>
                    <a href="{{ post.url }}" title="Read {{ post.data.title }}">
                        {{ post.data.title }}
                    </a> &mdash; {{ post.date | dateToFormat("DDD") }}
                </li>
            {% endfor %}
            </ol>
        </section>
    </article>

    <nav>
        <h2>All Categories</h2>
        <p>
            {% for category in collections.postCategories %}
                {% if loop.first %}
                    <a href="/blog/" class="pill">All</a>
                {% endif %}
                <a href="/blog/{{ category.slug }}" class="pill">{{ category.title }}</a>
            {% endfor %}
        </p>
    </nav>
{% endblock %}
