{% extends "_includes/layouts/page.njk" %}

{% set postsList = collections.post | excludeStubs | excludeTypes(['mirror']) | reverse %}
{% set title = 'Blog Archive' %}

{% block content %}
    <h1>Archive</h1>
    <p>There have been <strong>{{ postsList.length }}</strong> items published since April 20, 2007:</p>
    <section>
        {% set displayContentType = true %}
        {% include "_includes/components/post-list.njk" %}
    </section>
    {% include '_includes/components/hot-topics.njk' %}
{% endblock %}
