---
folder: lists
---
{% extends "_includes/layouts/page.njk" %}

{% set title = 'Bookshelf' %}
{% set titlePrefix = 'Reading' %}
{% set books = bookwyrm | whereKeyEquals('shelf', 'read') %}
{% set reviews = collections.resources | whereKeyEquals('resourceType', 'books') %}
{% set subTitle %}
    📖 What I've been reading:
{% endset %}

{% block pageContent %}
    <section>
        {% include "components/book-grid.njk" %}
    </section>

    <hr/>

    {% include "components/book-layout-inspiration.njk" %}
{% endblock %}
