---
title: Button Board
titlePrefix: Community
folder: lists
---
{% extends "_includes/layouts/page.njk" %}

{% block pageContent %}
    <section>
        <p>This page will be where my button board exists.</p>
    </section>
{% endblock %}