{% extends "_includes/default.njk" %}

{% block title %}Elsewhere{% endblock %}

{% block body_class %}light{% endblock %}

{% block content %}
    <header class="pt-12 pb-0 md:pt-36 lg:pt-48 grid grid-cols-12">
        <div class="col-start-2 col-span-10 md:col-start-2 md:col-span-6 lg:col-start-2 lg:col-span-4">
            <h1 class="mb-8 text-6xl md:text-8xl font-bold leading-normal tracking-tighter">
                Elsewhere
            </h1>
            <p class="text-2xl mb-2">
                I can be found in the following online communities:
            </p>
        </div>
    </header>
    <nav class="mb-12 grid grid-cols-12">
        <div class="col-start-2 col-end-12 md:col-end-6">
            <p>
                <a href="https://www.polywork.com/dann">Polywork</a>,
                <a href="https://phpc.social/@carbontwelve">Mastodon (phpc.social)</a>,
                <a href="https://twitter.com/carbontwelve">Twitter</a>,
                <a href="https://spacehey.com/carbontwelve">SpaceHey</a>,
                <a href="https://lobste.rs/u/c12">Lobste.rs</a>,
                <a href="https://news.ycombinator.com/user?id=c12">Hacker News</a>,
                <a href="https://www.youtube.com/channel/UCgyw5PRS1DAhL8fk4_he6fQ">Youtube</a>,
                <a href="https://github.com/carbontwelve">Github</a>.
            </p>

            <p>
                I have accounts on the following platforms, but <em>infrequently</em> visit them:
                <a href="https://keybase.io/carbontwelve">Keybase</a>,
                <a href="https://en.gravatar.com/carbontwelve">Gravatar</a>,
                Facebook,
                LinkedIn,
                Google+,
                Reddit.
            </p>
        </div>
    </nav>
{% endblock %}