{% extends "_includes/layouts/page.njk" %}

{% block title %}/RSS Feeds{% endblock %}

{% block content %}
    <h1>RSS Feeds</h1>

    <section>
        <ul>
            <li>All Posts: <a href="/blog/feed.xml">Atom</a></li>
        </ul>
    </section>
{% endblock %}
