{% extends "_includes/layouts/page.njk" %}

{% set title = 'RSS Feeds' %}

{% block content %}
    <h1 class="with-sub-title">RSS Feeds</h1>

    <section>
        <ul>
            <li>All Posts: <a href="/blog/feed.xml">Atom</a></li>
        </ul>
    </section>
{% endblock %}
