{% extends "_includes/layouts/base.njk" %}

{% set articlesList = collections.post %}

{% block title %}PhotoGabble{% endblock %}

{% block header %}
  <h1><span class="selected">Hey</span>, I'm Simon.</h1>
{% endblock %}

{% block content %}
  <section>
    <p>I'm a <a href="https://github.com/carbontwelve">"full stack" web developer</a> and proud father of two. My interests include vintage computing, astrophysics and game development. I currently work as the senior developer for Wefix.</p>
    <p>In my spare time I maintain a number of <a href="projects">Open Source Projects</a> and can be found on <a href="elsewhere">various online platforms &amp; communities</a>.</p>
    <p>You can find out more <a href="about">about me</a>, what I <a href="uses">use</a>, the books that I <a href="books">have been reading</a> and what I am up to <a href="now">now</a>.</p>
  </section>

  <section>
    <h2>Recent Articles</h2>
    <ul class="post-list">
      {% for post in articlesList | excludeCategory('thoughts') | reverse | limit(6) %}
        <li><a href="{{ post.url }}">{{ post.data.title }}</a> &mdash; {{ post.date | dateToFormat("DDD") }}</li>
      {% endfor %}
    </ul>
    <hr/>
    <p>
      Subscribe to the <a href="feed">RSS Feed</a> or view the entire <a href="blog">archive</a> for more.
    </p>
  </section>

  {% if (articlesList | onlyCategory('thoughts')).length > 0 %}
    <section>
      <h2>Recent Thoughts</h2>
      <ul class="post-list">
        {% for post in articlesList | onlyCategory('thoughts') | reverse | limit(3) %}
          <li><a href="{{ post.url }}">{{ post.data.title }}</a> &mdash; {{ post.date | dateToFormat("DDD") }}</li>
        {% endfor %}
      </ul>
      <p>
        View <a href="/blog/thoughts/">more thoughts...</a>
      </p>
    </section>
  {% endif %}
{% endblock %}
