{% extends "_includes/default.njk" %}

{% block title %}My Projects{% endblock %}

{% block header_class %}light{% endblock %}

{% block header %}
  <h1 class="px-4 md:px-0 text-2xl md:text-4xl">
    Links
  </h1>
{% endblock %}

{% block content %}
    <p>Hello world</p>
{% endblock %}