{% extends "_includes/layouts/page.njk" %}

{% set title = 'Links' %}

{% block body_class %}light{% endblock %}

{% block content %}
    <h1>Links</h1>
    <p>A hand curated index of things I found interesting&hellip;</p>

    <section>
        <ul>
            {%- for link in links | reverse -%}
                <li><a href="{{ link.href }}">{{ link.title }}</a></li>
            {%- endfor -%}
        </ul>
    </section>
{% endblock %}