---
folder: lists
---

{% extends "_includes/layouts/page.njk" %}

{% set title = 'Links' %}
{% set titlePrefix = 'Community' %}
{% set folder = 'lists' %}
{% set subTitle = 'A hand curated index of things I found interesting&hellip;' %}

{% block pageContent %}
    <section>
        <ul>
            {%- for link in links | reverse -%}
                <li><a href="{{ link.href }}">{{ link.title }}</a></li>
            {%- endfor -%}
        </ul>
    </section>
{% endblock %}