{% extends "_includes/layouts/page.njk" %}

{% block title %}Newsletter{% endblock %}

{% block content %}
    <h1>Newsletter</h1>
    <p>
        Join literally a handful* of other people interested in weekly snapshots of what interested me that week.<br>
        <small><em>*You could say it's a pretty exclusive club 😅</em></small>
    </p>

    <hr>

    <p>
        Hello world..
    </p>
{% endblock %}