{% extends "_includes/layouts/page.njk" %}

{% block title %}/now{% endblock %}

{% block content %}
    <h1 class="with-sub-title">/now</h1>
    <p>Last updated March 19th, 2021.</p>

    <section>
        <p>
            This “now page” offers a big picture glimpse into my what I’m focused on at this point in my life.
            <a href="http://nownownow.com/about">What is a now page?</a>
        </p>

        <h2>What am I currently focused on?</h2>
        <ul>
            <li>Building my garden office, it's been the most fun I have had in a long time</li>
            <li>Reinvigorating my blog, there have been <em>many</em> attempts made in the past</li>
            <li>Fedicast, a federated podcast publishing platform</li>
        </ul>

        <h2>What am I watching?</h2>
        <ul>
            <li><a href="https://www.imdb.com/title/tt3230854/">The Expanse</a> on Amazon Prime</li>
            <li><a href="https://www.imdb.com/title/tt0060028">Star Trek: The Original Series</a> on Netflix</li>
        </ul>

        <h2>What am I reading?</h2>
        <ul>
            <li>
                <a href="https://openlibrary.org/books/OL4554882M/Game_playing_with_BASIC">
                    Game Playing With BASIC by Donald D. Spencer
                </a>
            </li>
            <li>
                <a href="https://openlibrary.org/works/OL18199539W/PEOPLE_VS_TECH_THE">
                    The People Vs Tech by Jamie Bartlett
                </a>
            </li>
        </ul>
        <p>
            You can see my bookshelf at <a href="https://bookwyrm.social/user/carbontwelve">bookwyrm.social</a> or
            at <a href="https://openlibrary.org/people/carbontwelve">openlibrary.org here</a>.
        </p>
    </section>
{% endblock %}
