---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/index.html
---

{% extends "_includes/layouts/base.njk" %}

{% block title %}Tagged {{ tag }}{% endblock %}

{% block content %}

<article>
    <h1>Tagged “{{ tag }}”</h1>

    <section>
        <ol>
            {% set taglist = collections[ tag ] %}
            {% for post in taglist | reverse %}
                <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
            {% endfor %}
        </ol>
    </section>
</article>

{% endblock %}