{% extends "_includes/layouts/page.njk" %}

{% block content %}
<nav class="tags-list">
    <h1>All Tags</h1>
    <ul style="display: grid;">
        {%- for tag in collections.contentTags %}
            <li><a href="/tags/{{ tag.slug }}"> {{ tag.name }} <small>({{ tag.items.length }})</small></a>
            </li>
        {%- endfor %}
    </ul>
</nav>

<hr/>

<nav>
<h1>All Content</h1>
    <ul>
        {%- for type in collections.contentTypes %}
            <li><a href="/{{ type.slug }}">{{ type.name }} <small>({{ type.items.length }})</small></a></li>
        {%- endfor %}
    </ul>
</nav>

{% endblock %}