---
pagination:
  data: collections.contentPaginatedByType
  size: 1
  alias: type
permalink: /{{ type.slug }}/index.html
folder: [writing]
---

{% extends "./_includes/layouts/page.njk" %}

{% set title = type.title %}
{% set titlePrefix = 'Writing' %}

{% block pageContent %}
  {% if type.slug === 'stubs' %}
    <section>
      <blockquote>
        <p><strong>What is a stub post?</strong><br/>
          These are the precursor to future content often times little more than a collection of ideas and therefore hidden by default from the rest of this digital garden. Most have been created in order to allow interlinking from other pages via backlinks.
        </p>
        <p>You can think of this list as a schedule of when new content will come out, it's mostly here for me to be able to see what I am working on next.</p>
      </blockquote>
    </section>
  {% endif %}

  <section>
    {% set postsList = type.items %}
    {% include "_includes/components/post-list.njk" %}
  </section>

  {% if type.totalPages > 1 %}
    <nav>
      <p>
        Viewing page {{ type.pageNumber }} of {{ type.totalPages }},
        {% if type.pageSlugs.previous %}<a href="/{{ type.pageSlugs.previous }}/">Previous Page</a>{% endif %}
        {% if type.pageSlugs.next %}<a href="/{{ type.pageSlugs.next }}/">Next Page</a>{% endif %}
      </p>
    </nav>
  {% endif %}

  {% include '_includes/components/hot-topics.njk' %}
{% endblock %}
