figcaption p {
    font-size: 80%;
    margin-top: 0;
}

figure.three div{
    display: flex;
    gap: 4em;
    background: #e3e3e3;
    padding: 4em 1em;
    justify-content: center;
}

figure.three + img{
    max-width: 33%;
    min-width: auto;
    max-height: 450px;
    box-shadow: 0 0 10px #a2a2a2;
}

figure.three picture {
    max-width: 33%;
    min-width: auto;
    max-height: 450px;
}

figure.three picture img {
    max-width: 100%;
    width: auto;
    height: fit-content;
    max-height: 450px;
    box-shadow: 0 0 10px #a2a2a2;
}