footer {
    background-color: var(--background-muted);
    padding-bottom: 1em;
    display:flex;
    flex-direction: column;
}

footer nav {
    padding: 1em 0;
}

/* Primary Navigation */
footer nav:first-child{
    background: rgba(0,0,0,.15);
}

footer nav:first-child > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Secondary Navigation */
footer nav:nth-child(2) {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr 1fr 1fr 1fr;

    gap: 1em;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
}

footer dt {
    font-weight: bold;
    font-size: 1.2em;
}

footer dd {
    margin-inline-start:0;
}

footer nav:first-child dt {
    font-size: inherit;
    display:inline-block;
}

footer nav:first-child dd {
    display: inline-block;
}

footer nav:first-child dt:after,
footer nav:first-child dd:not(:last-child):after,
footer nav:last-child dd:not(:last-child):after{
    content: '\00a0|\00a0';
}

footer p {
    grid-column: 1/-1;
    margin: 0;
}

footer a.icon {
    display: flex;
    align-items: center;
}

footer a.icon img {
    height: 20px;
    width: auto;
}

/* Small Laptop: four columns */
@media (max-width: 1024px) {
    /* First footer nav to be centered column upto small laptop */
    footer nav:first-child > div {
        width: 100%;
        padding: 0 25px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer nav:nth-child(2) {
        grid: auto-flow / 1fr 1fr 1fr 1fr;
    }
}

/* Tablet: three columns */
@media (max-width: 864px) {
    footer nav:not(:first-child) {
        width: 100%;
        padding: 0 25px;
    }

    footer nav:nth-child(2) {
        width: auto;
        margin: 0 auto;
        grid: auto-flow / 1fr 1fr 1fr;
    }
}

/* Mobile: single column, centered text */
@media (max-width: 425px) {
    footer nav:nth-child(2) {
        grid: auto-flow / 1fr;
        text-align: center;
    }
}
