body > header {
    margin-bottom: 40px;
}

body > header > div {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2em;
}

body > header > div > *:first-child {
    flex-grow: 1;
}

body > header > div a {
    text-decoration: none;
    padding: 0 0.25rem;
}

body > header > div a:hover{
    text-decoration: underline;
}

body > header > div a:first-child {
    padding-left: 0;
}

.action-buttons {
    display: flex;
    gap: 1em;
}

.action-buttons button {
    width: auto;
    border-radius: 1em;
    font-size: 0.7em;
    padding: 0 15px;

    height: 30px;
    background: transparent;
    border: 2px solid var(--foreground);
    color: var(--foreground);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.action-buttons button:hover {
    background: var(--foreground);
    color: var(--background);
}

.action-buttons svg {
    width: 20px;
    height: 20px;
}

.action-buttons button.icon {
    width: 30px;
    border-radius: 50%;
    padding: 5px;
}

.jumbo-nav {
    display: none;
}

.jumbo-nav__open, .jumbo-nav {
    background: var(--jumbo-nav-background-color);
}

.jumbo-nav__open {
    color: var(--jumbo-nav-text-color);
}

.jumbo-nav__open .jumbo-nav {
    display: block;
}

.jumbo-nav__open .action-buttons button {
    border: 2px solid var(--jumbo-nav-text-color);
    color: var(--jumbo-nav-text-color);
}

.jumbo-nav__open .action-buttons button:hover {
    background: var(--jumbo-nav-text-color);
    color: var(--jumbo-nav-background-color);
}

.jumbo-nav nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    color: var(--jumbo-nav-text-color);
    font-size: 1.1rem;
    margin-top:2em;
    margin-bottom: 2em;
}

.jumbo-nav dt {
    text-transform: uppercase;
    font-size: 80%;
}

.jumbo-nav dd {
    margin: 0;
}

.jumbo-nav dd a {
    text-decoration: none;
    color: var(--jumbo-nav-text-color);
}

.jumbo-nav dd span:first-child {
    color: var(--jumbo-nav-anchor-color);
    margin-right: 0.3rem;
    font-size: smaller;
}

.jumbo-nav dd span:nth-child(2) {
    border-bottom: 1px solid var(--jumbo-nav-anchor-color);
}

.jumbo-nav dd a:hover span:first-child {
    color: var(--jumbo-nav-anchor-hover-color);
}

.jumbo-nav dd a:hover span:nth-child(2) {
    border-bottom-color: var(--jumbo-nav-anchor-hover-color);
}

.jumbo-nav div:last-child {
    grid-column-end: span 2;
}

.jumbo-nav div:last-child a {
    color: var(--jumbo-nav-anchor-color);
    text-decoration: underline;
}

@media(max-width: 1024px) {
    .jumbo-nav nav {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 425px) {
    .jumbo-nav nav {
        grid-template-columns: repeat(2, 1fr);
    }
}