.stats__post-graphs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}
.stats__post-graphs header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    grid-column: span 2;
    margin-bottom: 0;
}
.stats__post-graphs header h2 {
    flex-grow: 1;
}


@media (min-width: 864px){
    .stats__header > header {
        flex-direction: row;
    }

    .stats__header > header div:first-child {
        flex-grow: 1;
    }

    .stats__header > header img {
        align-self: end;
    }
}

@media (max-width: 864px) {
    .stats__post-graphs {
        grid-template-columns: 1fr;
    }

    .stats__post-graphs header {
        grid-column: 1;
    }

    .stats__header > header img {
        margin-top: 1em;
    }
}