nav.toc {
    > ol {
        padding: 0;

        ol {
            padding-inline-start: 2ch;
            border-left: 1px dotted var(--color-border);
        }
    }

    ol {
        list-style: none;
    }
}
