body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > div, body > footer {
    --padding: calc(var(--line-size) * 2);
    --gap: var(--padding);
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    justify-content: stretch;
    align-items: start;
    min-height: 100%;
    gap: var(--gap);
    padding: var(--padding);
    transition: grid-template-columns .25s ease-in-out, gap .25s ease-in-out, padding .25s ease-in-out;
}

body > div > main {
    min-width: 0;
}

/* Make content wrapping div stretch to fill in vertical space, pushing footer to bottom */
body > div {
    flex-grow: 1;
    --sidebar: 10rem;
}

body > footer {
    background-color: var(--color-accent);
    color: var(--color-background);
}

section:not(:last-child) {
    margin-bottom: calc(var(--line-size) * 4);
}

.sidebar{
    ol {
        list-style: none;
        padding: 0;
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);
        margin: 0 0 0 0.85rem;

        display: flex;
        flex-wrap: wrap;
        column-gap: var(--line-size);

        li ol {
            display: none;

            li:first-child {
                position: relative;
            }

            li:first-child::before {
                content: '↪';
                display: block;
                width: 1ch;
                position: absolute;
                left: -1.75ch;
            }
        }
    }
}

.recent-posts {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: calc(var(--line-size) * 4);
    row-gap: var(--line-size);

    .list {
        display: flex;
        flex-direction: column;
        gap: calc(var(--line-size) * 2);
    }
}

.current-projects ul {
    column-gap: calc(var(--line-size) * 4);
    row-gap: calc(var(--line-size) * 2);
    margin: var(--line-size) 0 0;

    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.title {
    font-family: var(--font-heading);
    font-size: var(--font-size-title); /*clamp(1rem, 1vw, var(--font-size-title));*/
    line-height: var(--line-height-title);
    margin: 0;
    hyphens: auto;
}

.link-heading {
    display: block;
    font-family: var(--font-heading);
    font-size: var(--font-size-heading);
    line-height: var(--line-height-heading);
    color: var(--color-text);
    margin-bottom: var(--line-size);
}

.seperator {
    justify-self: stretch;
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: .75rem;

    * {
        color: var(--color-text-light);
        font-family: var(--font-body);
        font-weight: 500;
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);
        margin: 0;
    }

    hr {
        flex: 1;
        height: 1px;
        border: none;
        background-color: var(--color-border);
    }
}

@media (min-width: 720px) {
    .current-projects ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 960px) {
    body > div, body > footer  {
        --padding: calc(var(--line-size) * 4);
        grid-template-columns: var(--sidebar) auto;
    }

    .sidebar ol {
        flex-direction: column;
        gap: initial;

        li ol {
            display: flex;
        }
    }

    .recent-posts {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-auto-flow: column;
    }
}

@media (min-width: 1200px) {
    body > div, body > footer  {
        --gap: calc(var(--padding) * 2);
        --sidebar: 10rem;
    }

    .current-projects ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

article{
    --sidebar: 18.75rem;

    display: grid;
    column-gap: var(--gap);
    grid-template-columns: 1fr;

    > header {
        order: 1;
        margin-bottom: var(--padding);

        h1, h2 {
            margin-bottom: var(--line-size);
        }

        .abstract {
            max-width: 65ch;
            margin: calc(var(--padding) / 2) 0;
        }

        .title {
            margin-bottom: calc(var(--padding) / 2);
        }

        > span {
            text-transform: uppercase;
            font-size: var(--font-size-small);
            font-weight: bold;
            background: var(--color-accent);
            color: var(--color-background);
            padding: 0.5ch 0.75ch;
            border-radius: 5px;
            line-height: 1;
            display: inline-block;
            margin-bottom: var(--line-size);
        }

        h2 {
            font-family: var(--font-body);
        }
    }

    /* if we have a toc then we will have more than one aside, it needs to be order 2,
       else it's just the article sidebar in which case its order 4 placing it between
       the content div container and the article footer.
     */
    > aside:nth-of-type(1) { order: 4;}
    &.has-toc > aside:nth-of-type(1) { order: 2; } /* toc */

    > div {
        order: 3;
        min-width: 0;
        padding-bottom: var(--padding);

        > ul, > ol {
            margin-block-start: calc(var(--line-size) * 2);
            margin-block-end: calc(var(--line-size) * 2);
        }

        li code, p code {
            background: var(--color-code-inline);
            padding: 0.125ch 0.25ch;
            font-size: 0.95rem;
        }

        pre {
            background: var(--color-pre-background);
            color: var(--color-pre-text);
            scrollbar-color: var(--color-pre-text) var(--color-pre-background);
            border-radius: 0;
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);

            overflow-x: auto;
        }
    }

    > aside:nth-of-type(2) {
        order: 4;
        padding-left: var(--padding);
    } /* sidebar bits */

    > aside {
        margin-bottom: 1rem;
    }

    > footer {
        order: 5;
        /*margin-top: calc(var(--line-size) * 3);*/

        border-top: 3px double #d4c3af40;
        margin-left: 1ch;
        margin-top: 0;
        padding-top: var(--padding);

        display: grid;
        grid-template-columns: 1fr;
    }

    > * { grid-column: 1; grid-row: auto; } /* everything else */

    figure {
        margin: calc(var(--line-size) * 2) 0;
        > div {
            display: flex;
            flex-direction: column;
            gap: var(--padding);
        }

        img {
            width: 100%;
            height: auto;
        }

        figcaption {
            font-size: var(--font-size-small);
            line-height: var(--line-height-small);
            padding-top: 1ch;
        }

        &.full-width {
            grid-template-columns: 1fr;

            figcaption {
                grid-column: 1;
                padding-left: 0;
            }
        }
    }
}

@media (min-width: 480px) {
    article figure > div {
        flex-direction: row;
    }
}

@media (min-width: 960px) {
    main {
        border-left: 3px double #d4c3af40;
    }

    article {
        > header {
            padding-left: 1ch;
        }

        > footer section:not(.article-section__related) > * {
            padding-left: var(--padding);
        }

        /** Makes paragraphs look nice when among figures and code blocks. **/
        > div {
            > * {
                padding-left: var(--padding);
            }

            > pre, > figure {
                padding-left: 1ch;
            }
        }

        /* Moves the code block to touch the left side of the view port
           and expands to fill up to the right hand sidebar.
           NOTE: the 3px on the end is to counter the 3px border on <main>
           */
        > div pre{
            --offset: calc(calc(var(--padding) * 2) + 7rem + var(--padding) + 3px);

            position: relative;
            left: calc(var(--offset) * -1);
            width: calc(100% + var(--offset));

            padding: var(--padding);
            padding-right: 0;

            border-top: 1ch solid var(--color-background);
            border-bottom: 1ch solid var(--color-background);
        }
    }
}

@media (min-width: 1200px) {
    article {
        grid-template-columns: minmax(auto, 65ch) var(--sidebar);
        grid-template-rows: auto auto 1fr auto;

        > header {
            grid-column: 1 / -1;
            grid-row: 1;
        }

        > div {
            grid-column: 1;
            grid-row: 2 / 4;
        }

        /* toc */
        > aside:nth-of-type(1) {
            grid-column: 2;
            grid-row: 2;
        }

        /* sidebar */
        > aside:nth-of-type(2) {
            grid-column: 2;
            grid-row: 3;
            padding: 0;
        }

        > aside {
            padding-left: 0;
        }

        > footer {
            grid-column: 1 / -1;
            grid-row: 4;

            grid-template-columns: minmax(auto, 65ch) var(--sidebar);
            column-gap: var(--gap);
        }

        > div pre {
            --offset:calc(calc(var(--padding) * 2) + 10rem + var(--padding) + 3px);
        }
    }
}
