<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}Does it work?{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
        <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    {% block head %}{% endblock %}
    <script src="/js/alpine.js?v={% version %}"></script>
</head>
<body class="flex flex-col min-h-screen antialiased {% block body_class %}{% endblock %}" style="height: 100%">

<header class="{% block header_class %}{% endblock %}">
    <nav class="relative px-4 py-6 z-10">
        <div class="flex flex-row w-full justify-between">
            <div class="flex flex-row items-center">
                <a href="/" class="logo inline-block lg:hidden">Pg<span>.</span></a>
                <a href="/" class="logo hidden lg:inline-block">PhotoGabble<span>.</span></a>
                <a href="/blog" class="hidden md:inline-block text-xl font-medium tracking-tight mr-6"{% if(page.url === '/blog/') %} aria-current="page"{% endif %}>Blog</a>
                <a href="/tutorials" class="hidden md:inline-block text-xl font-medium tracking-tight mr-6"{% if(page.url === '/tutorials/') %} aria-current="page"{% endif %}>Tutorials</a>
                <a href="/projects" class="hidden md:inline-block text-xl font-medium tracking-tight mr-6"{% if(page.url === '/projects/') %} aria-current="page"{% endif %}>Projects</a>
                <a href="/newsletter" class="hidden md:inline-block text-xl font-medium tracking-tight"{% if(page.url === '/newsletter/') %} aria-current="page"{% endif %}>Newsletter</a>
            </div>
            <div class="hidden md:flex flex-row items-center">
                <a href="/about" class="text-sm tracking-tight mr-3 hidden xl:inline-block"{% if(page.url === '/about/') %} aria-current="page"{% endif %}>About</a>
                <a href="/uses" class="text-sm tracking-tight mr-3 hidden xl:inline-block"{% if(page.url === '/uses/') %} aria-current="page"{% endif %}>Uses</a>
                <a href="/links" class="text-sm tracking-tight mr-8 hidden xl:inline-block"{% if(page.url === '/links/') %} aria-current="page"{% endif %}>Links</a>
                <label for="s" class="sr-only">Search</label>
                <input id="s" name="s" placeholder="🔍 Search...">
            </div>
            <button class="md:hidden text-sm font-medium rounded-sm bg-white px-2 text-red-500">Menu</button>
        </div>
    </nav>
    {%  block header %}
        {{  header | safe }}
    {% endblock %}
</header>


<main>
{% block content %}
    {{ content | safe }}
{% endblock %}
</main>

<footer class="p-4">
    <div class="grid grid-cols-12 gap-2 font-mono">

        <div class="col-span-6">
            <strong>PhotoGabble.</strong>
            <p class="text-sm">
                Hello world...
            </p>
        </div>

        <div class="col-span-2">
            <strong>About</strong>
            <ul>
                <li><a href="#">Colophon</a></li>
                <li><a href="#">My Story</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">/uses</a></li>
                <li><a href="#">Get in touch</a></li>
            </ul>
        </div>

        <div class="col-span-2">
            <strong>Content</strong>
            <ul>
                <li><a href="#">Blog Archive</a></li>
                <li><a href="#">All Categories</a></li>
                <li><a href="#">Newsroom</a></li>
                <li><a href="#">Links</a></li>
            </ul>
        </div>

        <div class="col-span-2">
            <strong>Elsewhere</strong>
            <ul>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Github</a></li>
                <li><a href="#">Spacehey</a></li>
                <li><a href="#"><small>More&hellip;</small></a></li>
            </ul>
        </div>


    </div>
</footer>
</body>
</html>