<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}Does it work?{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
        <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    {% block head %}{% endblock %}
    <script src="/js/alpine.js?v={% version %}"></script>
</head>
<body class="flex flex-col h-screen antialiased">

<header class="{% block header_class %}{% endblock %}">
    <nav class="relative px-4 py-6 z-10">
        <div class="flex flex-row w-full justify-between">
            <div class="flex flex-row items-center">
                <a href="/" class="logo inline-block lg:hidden">Pg<span>.</span></a>
                <a href="/" class="logo hidden lg:inline-block">PhotoGabble<span>.</span></a>
                <a href="#" class="hidden md:inline-block text-xl font-medium tracking-tight mr-6">Blog</a>
                <a href="#" class="hidden md:inline-block text-xl font-medium tracking-tight mr-6">Tutorials</a>
                <a href="/projects" class="hidden md:inline-block text-xl font-medium tracking-tight mr-6">Projects</a>
                <a href="/newsletter" class="hidden md:inline-block text-xl font-medium tracking-tight">Newsletter</a>
            </div>
            <div class="hidden md:flex flex-row items-center">
                <a href="/about" class="text-sm tracking-tight mr-3 hidden xl:inline-block">About</a>
                <a href="/uses" class="text-sm tracking-tight mr-3 hidden xl:inline-block">Uses</a>
                <a href="/links" class="text-sm tracking-tight mr-8 hidden xl:inline-block">Links</a>
                <label for="s" class="sr-only">Search</label>
                <input id="s" name="s" placeholder="🔍 Search...">
            </div>
            <button class="md:hidden text-sm font-medium rounded-sm bg-white px-2 text-red-500">Menu</button>
        </div>
    </nav>
    <section class="absolute inset-0 w-full h-full flex flex-col z-0 justify-center items-center">
        {%  block header %}
            {{  header | safe }}
        {% endblock %}
    </section>
</header>

{% block content %}
    {{ content | safe }}
{% endblock %}
<footer class="p-4">
    <p>Yo</p>
</footer>
</body>
</html>