@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/prismjs/themes/prism-tomorrow.min.css";
@import "../../node_modules/prismjs/plugins/treeview/prism-treeview.css";

/* Components */
@import "components/_fonts.css";
@import "components/_themes.css";
@import "components/_post-list.css";
@import "components/_button.css";
@import "components/_table.css";
@import "components/_figure.css";
@import "components/_books.css";
@import "components/_footer.css";
@import "components/_review_list.css";
@import "components/_changes.css";
@import "components/_jumbo.css";

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

body {
  font-family: "Iosevka Etoile", monospace;
  background-color: var(--background);
  color: var(--foreground);

  font-size: 1rem;
  line-height: 1.54;
  letter-spacing: -0.02em;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
  font-variant-ligatures: contextual;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color 300ms, color 200ms;
}

details summary {
  cursor: pointer;
}

blockquote {
  margin-inline-start: 0;
  font-style: italic;
  border-left: 3px solid var(--foreground-muted);
  padding-left: 1em;
  color: var(--foreground-muted);
}

aside.citation {
    border-left: 3px solid var(--foreground-muted);
    padding-left: 1em;
}

aside.citation blockquote {
    border-left: none;
    padding-left: 0;
}

pre {
  background: var(--background-muted);
  color: var(--foreground);
  border-radius: 0.5em;
  overflow: scroll;
  padding: 1em;
}

p > code {
  background: var(--foreground-muted);
  color: var(--background);
  padding: 0 3px;
  border-radius: 3px;
}

hr {
  border: 0;
  border-bottom: 3px double var(--foreground-muted);
  margin: 2rem 0;
  min-width: 1em;
}

figure.fullwidth img {
  float: none;
}

figure.fullwidth figcaption {
  margin-right: 0;
  max-width: 90%;
  float: none;
}

a:link,
a:visited {
  color: var(--accent);
}

/* With thanks to the user Shaz @ Stack Overflow
 * @see https://stackoverflow.com/a/5379820/1225977 */
a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
  /* domains to exclude */
  [href*="//photogabble.co.uk"],
  /* subdomains to exclude */
  [href*="//www.photogabble.co.uk"]
)):not(.no-ext):after {
  content: "↗️";
  margin-left: 0.25rem;
  vertical-align: super;
  font-size: 0.5rem;
}

a.no-underline {
  text-decoration: none;
}

::selection,
.selected {
  background-color: var(--accent);
  color: var(--background);
}

.selected {
  padding: 0 0.2rem;
}

main,
header {
  display: flex;
  flex-direction: column;
}

main {
  font-size: 1.2em;
  flex-grow: 1;
}

main p,
main ul {
  width: 85%;
  max-width: 864px;
}

article > header {
  padding: 2em 0 1em 0;
}

article > header h1 {
  line-height: 1.1;
}

article > header h1,
article > header h2 {
  margin: 0;
}

article > header h1 + h2 {
  font-size: 1.1rem;
  margin-top: 0;
  font-weight: normal;
}

article > header small span {
  background-color: var(--accent);
  color: var(--background);
  padding: 2px 5px;
  border-radius: 2px;
}

article > header small + h1,
article.resource.bookmark aside + h1 {
  margin: 0.67rem 0;
  font-size: 3rem;
}

article section {
  margin: 2em 0;
}

article p {
  text-align: justify;
  text-justify: inter-word;
}

article img {
  max-width: 100%;
  min-width: 100%;
}

article.note > header h1 {
  font-size: 6rem;
}

article.book > header h1 + h2 {
  font-size: 1.4rem;
}

article.writing-index section > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

article.resource.bookmark header > aside {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

article.resource.bookmark header > aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
}

article.resource.bookmark header > aside li {
  display: inline-block;
}

article.resource.bookmark > section div {
  float: right;
  max-width: 40%;
  min-width: auto;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

article.resource.bookmark > section div > img {
  border: 2px solid var(--background-muted);
  border-radius: 3px;
  margin-bottom: 1rem;
}

article.resource.bookmark > section div > nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
}

article.resource.bookmark > section > p:first-of-type {
  font-size: 1.4em;
  line-break: anywhere;
}

.tags-list ul {
  display: grid;
  width: 100%;
  max-width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

.margin-note {
  float: right;
  clear: right;
  margin-right: -50%;
  width: 45%;
}

.margin-note img {
  max-width: 100%;
  min-width: auto;
}

aside.margin-note {
  width: 85%;
  max-width: 864px;
  padding-left: 2em;
  margin-right: calc(-50% + 2em);
}

.with-sub-title {
  margin-bottom: 0;
}

.with-sub-title + p {
  margin-top: 0;
}

/* Theme selector */
.theme-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 0.875rem;
  background-color: var(--background-muted);
  box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.theme-picker.is-open {
  height: 11rem;
}

.theme-picker h1 {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 0;
}

.theme-picker nav {
  position: relative;
  z-index: 2;
  width: 100%;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.theme-picker ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 1em 40px 2em;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  text-align: center;
  width: 100%;
}

.theme-picker li {
  border-radius: 0.4em;
  min-width: 140px;
  transform: scale(1);
  transition: transform 0.2s;
}

.theme-picker li:hover {
  box-shadow: 0 0 8px var(--foreground);
  transform: scale(1.05);
}

.theme-picker li.current {
  box-shadow: 0 0 0 2px var(--accent);
}

.theme-picker li + li {
  margin-left: 1rem;
}

.theme-picker li button {
  background-color: var(--background);
  color: var(--foreground);
  border: none;
  border-radius: 0.4em;
  padding: 1em;
  font-size: 0.9em;
  width: 100%;
  cursor: pointer;
}

.theme-picker .swatches {
  margin-top: 0.5em;
  display: block;
}

.theme-picker .swatches span {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: black;
  border: 2px solid white;
}

.theme-picker .swatches span + span {
  margin-left: -0.995em;
}

.theme-picker .swatches span.background {
  background-color: var(--background);
}

.theme-picker .swatches span.background-muted {
  background-color: var(--background-muted);
}

.theme-picker .swatches span.foreground {
  background-color: var(--foreground);
}

.theme-picker .swatches span.foreground-muted {
  background-color: var(--foreground-muted);
}

.theme-picker .swatches span.accent {
  background-color: var(--accent);
}

ul.alphabet {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

p.down-the-rabbit-hole .margin-note {
  position: relative;
}

p.down-the-rabbit-hole .margin-note img {
  position: absolute;
  top: -200px;
}

@media (max-width: 864px) {
  .container {
    margin: 0;
    width: 100%;
    padding: 0 1em;
  }

  body > header > div.container{
    margin-top: 40px;
  }

  main p,
  main ul {
    width: 100%;
  }
}
