<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{{ title or metadata.title }}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    {% block stylesheet %}
        <style>
            body {
                font-family: monospace;
                font-size: 1rem;
                line-height: 1.25em;
                text-align: left;
                color: #222;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }

            h1 {
                font-size: 1rem;
                font-weight: 300;
            }

            a:link,
            a:visited {
                color: #922;
                text-decoration-color: #999;
            }

            a:hover {
                color: #999;
            }
        </style>
    {% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
    {% block content %}
        {{ content | safe }}
    {% endblock %}
</body>
</html>
