<nav>
    {%- for item in list.items -%}
        {% set href = item.data.cite.href or item.url %}
        <a href="{{ href }}" class="no-ext btn-88x31" rel="noopener" title="Visit {{ item.data.title }}">
            <img width="88" height="31" src="/img/88x31/{{ item.data.button }}" alt="88x31 button for {{ item.data.title }}" aria-hidden="true" />
        </a>
    {%- endfor -%}
</nav>