{% extends "./base.njk" %}

{% block sidebar %}
    {% include "components/side-bars/now.njk" %}
{% endblock %}

{% if isNow %}
    {% set subTitle %}
        Last updated {{ page.date | dateToFormat("dd LLL yyyy") }}
    {% endset %}
{% else %}
    {% set subTitle %}
        Published {{ page.date | dateToFormat("dd LLL yyyy") }}, this is an older now page.
    {% endset %}
{% endif %}

{% block content %}
    <article>
        <header>
            <h1>/now</h1>
            <h2>{{ subTitle }}</h2>
        </header>
        <section>
            <p>
                This “now page” offers a big picture glimpse into my what I’m focused on at this point in my life.
                <a href="https://nownownow.com/about">What is a now page?</a>
            </p>

            {{ content | safe }}

            <p>
                You can see my bookshelf at <a href="https://bookwyrm.social/user/carbontwelve">bookwyrm.social</a> or
                at <a href="https://openlibrary.org/people/carbontwelve">openlibrary.org</a>.
            </p>
        </section>
    </article>
{% endblock %}
