{% extends "./base.njk" %}

{% set page_class = 'page__article' %}
{# TODO rename to page-now.njk #}

{% if isNow %}
    {% set subTitle %}
        last updated {{ page.date | dateToFormat("dd LLL yyyy") }}.
    {% endset %}
{% else %}
    {% set subTitle %}
        this is an older now page.
    {% endset %}
{% endif %}

{% block content %}
    <article>
        <header>
            <div class="article-header__category filled-boxes">
                {% include "components/partials/breadcrumbs.njk" %}
            </div>

            <div class="article-header__meta">
                <span>{{ collections.nowUpdates.length }} entries,</span> {{ subTitle }}
            </div>

            <div class="article-header__date">
                <time datetime="{{ page.date | dateToFormat('iso') }}">{{ page.date | dateToFormat('DDD') }}</time>
            </div>

            <h1 class="article-header__title">/now</h1>
            <hr/>

            <div class="article-header__stats">
                {% include "components/navigation/slash-pages.njk" %}
            </div>
        </header>
        <section class="article-section__content">
            <div class="article-section__content-abstract">
                <p>
                    This “now page” offers a big picture glimpse into my what I’m focused on at this point in my life.
                    <a href="https://nownownow.com/about">What is a now page?</a>
                </p>
            </div>
            <aside class="article-section__content-toc">
                {% include "components/side-bars/now.njk" %}
            </aside>
            <div class="article-section__content-content">

                {{ content | safe }}

                <p>
                    You can see my bookshelf at <a href="https://bookwyrm.social/user/carbontwelve">bookwyrm.social</a> or
                    at <a href="https://openlibrary.org/people/carbontwelve">openlibrary.org</a>.
                </p>
            </div>
        </section>
    </article>
{% endblock %}
