{% extends "layouts/base.njk" %}

{% block sidebar %}
    {% include "components/side-bars/changelog.njk" %}
{% endblock %}

{% block content %}
    <article data-pagefind-meta="type:changelog" data-pagefind-filter="post">
        <header>
            <h1>{{ title }}</h1>
        </header>
        <section>
            {{ content | safe }}
        </section>
    </article>
{% endblock %}
