{% extends "layouts/page.njk" %}

{% set page_class = 'page__article' %}
{% set ogtype = 'article' %}
{% set readingTime = content | wordStats %}
{% set filteredTags = tags | withoutTags('writing') | excludeSpecialTags(['type', 'resource']) | formatTagList(collections.topics) %}
{% set type = tags | specialTagValue('type') %}
{% set growthStage = tags | specialTagValue('stage') %}

{% if content_extra %}
    {% set content = [content, content_extra] | join %}
{% endif %}

{% set abstract = content | extractElementByQuery('.abstract') %}
{% set footnotes = content | extractElementByQuery('section.footnotes') %}
{% set sidebar = content | extractElementByQuery('.sidebar') %}

{#{% set headingClass = 'note' %}#}
{#{% set titlePrefix %}#}
{#    {% include "components/growth.njk" %} {{ contentType }}#}
{#{% endset %}#}

{#{% set subTitle %}#}
{#    {% if growthStage === 'stub' %}scheduled for {% else %}planted on {% endif %}#}
{#    <time datetime="{{ page.date.toISOString() }}">{{ page.date | dateToFormat("DDD") }}</time>#}
{#    in: {% include "../components/tag-list.njk" %}.#}
{#    {% if modified %}#}
{#    modified on <time datetime="{{ modified.toISOString() }}">{{ modified | dateToFormat("DDD") }}</time>#}
{#    {% endif %}#}
{#    <br/>{{ readingTime.text if readingTime.words > 0 }}.#}
{#{% endset %}#}

{% block content %}
<article>
    {% include "components/partials/article-header.njk" %}
    <section class="article-section__content">
        {% if abstract %}<div class="article-section__content-abstract">{{ abstract | safe }}</div>{% endif %}
        <aside class="article-section__content-toc">
            {% if backlinks.length %}
                {% set toc_headings = (toc_headings or []).push({id: 'backlinks', text: 'Pages Linking Here'}) %}
            {% endif %}

            {% set toc_content = content | withHeadings(toc_headings) | toc %}

            {% if toc_content %}
                <h4>On this page</h4>
                {{ toc_content | safe }}
                <hr />
            {% endif %}

            {% if sidebar %}
                {{ sidebar | safe }}
            {% endif %}

            {% include "components/side-bars/series.njk" %}

            {% include "components/side-bars/prev-next.njk" %}
        </aside>
        <div class="article-section__content-content">
            {% if growthStage === 'stub' %}
                <div class="markdown-alert markdown-alert-caution">
                    <p class="markdown-alert-title">Note</p>
                    <p>This is a stub post to be filled out in the future. It has been created for the purpose of interlinking feel free to check out what links here from the list below to find related pages.</p>
                </div>
            {% endif %}
            {{ content | withoutElementsByQuery('.sidebar, .abstract, section.footnotes') | safe }}
        </div>
        <aside id="sidenote-column-right" class="article-section__content-ref">
            <div style="margin-top:1rem">
                First Published: {{ page.date | dateToFormat('DDD') }} in commit <a href="#">########</a>.<br/>
                Updated: {% if modified %}<time datetime="{{ modified.toISOString() }}">{{ modified | dateToFormat("DDD") }}</time>{% else %}Never{% endif %}<br/>
                {% if reviewed %}Reviewed: {{ reviewed | dateToFormat('DDD') }}{% endif %}
            </div>
        </aside>
        {% if footnotes.length or backlinks.length%}
            <footer class="article-section__content-footer">
                {{ footnotes | safe }}

                {#    {% if tags | includesTag('wayback machine') %}#}
                {#        <hr/>#}
                {#        {% include "components/wayback-machine.njk" %}#}
                {#    {% endif %}#}

                {% include "components/backlinks.njk" %}
            </footer>
        {% endif %}
    </section>

    {% if related.length %}
        <section class="article-section__related">
            <h3>Similar Stories</h3>
            <nav class="related-notes">
                {% for item in related | limit(3) %}
                    <a href="{{ item.url }}">
                         TODO: add article images
                        <img src="/img/sebastian-huber-CTT1DbhGhA8-unsplash.jpg">
                        <small>{{ item.data.tags | specialTagValue('type') }}</small>
                        <h4>{{ item.data.title }}</h4>
                    </a>
                {% endfor %}
            </nav>
        </section>
    {% endif %}

</article>
{% endblock %}
