{% extends "layouts/base-2026.njk" %}

{% set page_class = 'page__list' %}
{% set type = page_type or tags | specialTagValue('type') %}

{% if not items %}
    {% if sidebar_items %}
        {% set items = sidebar_items %}
    {% elseif sidebar_topic === 'stage/stub' %}
        {% set items = collections[sidebar_topic] | reverse %}
    {% elseif sidebar_topic %}
        {% set items = collections[sidebar_topic] | notTagged('stage/stub') | reverse %}
    {% else %}
        {% set items = collections.writing | notTagged(['type/project', 'type/resource', 'stage/stub', 'type/glossary', 'type/changelog']) | reverse %}
    {% endif %}
{% endif %}

{% set abstract = abstract or content | extractElementByQuery('.abstract') %}
{% set footnotes = content | extractElementByQuery('section.footnotes') %}

{% block content %}
<article data-pagefind-meta="type:{{ type or 'index' }}"{% if type == 'list' %} data-pagefind-filter="list"{% endif %}>
    <header data-pagefind-meta="items:{{ items.length }}">
        <span>{{ type or 'index' }}</span>
        <h1 class="title">{{ title }}</h1>
        {% if abstract %}{{ abstract | safe }}{% endif %}
        <div class="seperator">
            <span><strong>{{ items.length }} items</strong>, last updated 17th April 2026</span>
            <hr class="bar" />
            <a href="/stats">writing stats &rarr;</a>
        </div>
    </header>

    <div class="content">
        {{ content | withoutElementsByQuery('.abstract, section.footnotes') | safe }}

        <!-- TODO: rename sidebar_component to something more appropriate! -->
        {% if sidebar_component %}
            <div class="listing">
                {% set list_component_include = 'components/listings/' + sidebar_component + '.njk' %}
                {% include list_component_include %}
            </div>
        {% endif %}
    </div>

    <aside data-pagefind-ignore>
        <div>
            <h4>Frequently used topics</h4>
        </div>
    </aside>

    {% if footnotes.length or backlinks.length %}
    <footer>
        {{ footnotes | safe if footnotes.length }}
        {% if backlinks.length %}
            <div id="backlinks">
                <h3>Pages Linking Here <a class="header-anchor" href="#backlinks">¶</a></h3>
                <ul>{% for link in backlinks %}<li><a href="{{ link.url }}">{{ link.title }}</a></li>{% endfor %}</ul>
            </div>
        {% endif %}
    </footer>
    {% endif %}
</article>
{% endblock %}
