{% extends "layouts/page.njk" %}

{% set page_class = 'page__list' %}
{% set type = tags | specialTagValue('type') %}

{% block content %}
<article>
    <header>
        <div class="article-header__category filled-boxes">
            <span><a href="#">{{ type }}</a></span>
        </div>

        <div class="article-header__meta">
            <span>{{ items.length }} items,</span> last updated on 1st Jan, 2025
        </div>

        <h1 class="article-header__title">{{ title }}</h1>

        <hr/>

        <div class="article-header__stats">
            {% if index_navigation %}
                {% set index_navigation_include = 'components/navigation/' + index_navigation + '.njk' %}
                {% include index_navigation_include %}
            {% else %}
                {% include 'components/navigation/growth-stages.njk' %}
            {% endif %}
        </div>
    </header>

    {% set footnotes = content | extractFootnotes %}

    {% if content.length > 0 %}
        <section class="article-section__content">
            {% if abstract %}<p class="article-section__content-abstract">{{ abstract }}</p>{% endif %}
            <div class="article-section__content-content">{{ content | withoutFootnotes | safe }}</div>
    {#            <aside id="sidenote-column-right" class="article-section__content-ref">#}
    {#                <div>#}
    {#                    First Published: {{ page.date | dateToFormat('DDD') }} in commit <a href="#">########</a>.<br/>#}
    {#                    Updated: Never<br/>#}
    {#                    {% if reviewed %}Reviewed: {{ reviewed | dateToFormat('DDD') }}{% endif %}#}
    {#                </div>#}
    {#            </aside>#}
        </section>
        <hr>
    {% endif %}

    {#
        Some lists handle their own output such as reading in the
        sidebar and button board within the main page content. In
        those cases the list section must be disabled.

        TODO: Add pixels list type for collection of pixel shinys
    #}

    <section>
        <ul>
            <li><pre>index_navigation: {% if index_navigation %}{{ index_navigation }}{% else %}(growth-stages){% endif %}</pre></li>
            <li><pre>sidebar_topic: {{ sidebar_topic }}</pre></li>
            <li><pre>sidebar_component: components/listings/{{ sidebar_component }}</pre></li>
            <li><pre>navigation_component: {{ navigation_component or '(none)' }}</pre></li>
        </ul>
    </section>

    {% if sidebar_component %}
        {% set list_component_include = 'components/listings/' + sidebar_component + '.njk' %}
        {% include list_component_include %}
    {% else %}
        {# {% include "components/side-bars/writing.njk" %} #}
    {% endif %}

    {% if list_style != 'none' %}
    <section class="items-list">
        <ul>
            {% asyncEach item in items %}
            <li>
                {% set bookmark = item %}
                {% if item.data.dead %}
                    {% set href = item.data.wayback or '#' %}
                {% else %}
                    {% set href = item.data.cite.href %}
                {% endif %}
                <a href="{{ href }}" class="no-ext">
                    {% include "components/partials/bookmark-image.njk" %}
                </a>
                <p><a href="{{ href }}" class="no-ext">{{ item.data.title }}</a> <small><a href="{{ item.url }}">[My Notes]</a></small></p>
            </li>
            {% endeach %}
        </ul>
    </section>
    {% endif %}
    <footer>
        {% if footnotes.length %}
            {{ footnotes | safe }}
        {% endif %}
    </footer>
</article>
{% endblock %}
