{% extends "layouts/base.njk" %}

{% set page_class = 'page__list' %}
{% set type = tags | specialTagValue('type') %}

{% block content %}
<article data-pagefind-meta="type:{{ type }}" data-pagefind-filter="list">
    <header>
        <div class="article-header__meta" data-pagefind-meta="items:{{ items.length }}">
            {# TODO: last updated date #}
            <span>{{ items.length }} items,</span> last updated on 1st Jan, 2025
        </div>

        <h1 class="article-header__title">{{ title }}</h1>

        <hr/>
    </header>

    {% set footnotes = content | extractElementByQuery('section.footnotes') %}

    {% if content.length > 0 %}
        <section class="article-section__content">
            {% if abstract %}<p class="article-section__content-abstract">{{ abstract }}</p>{% endif %}
            <div class="article-section__content-content">{{ content | withoutElementsByQuery('section.footnotes') | safe }}</div>
        </section>
        <hr>
    {% endif %}

    {#
        Some lists handle their own output such as reading in the
        sidebar and button board within the main page content. In
        those cases the list section must be disabled.

        TODO: Add pixels list type for collection of pixel shinys
    #}

    {% if sidebar_component %}
        {% set list_component_include = 'components/listings/' + sidebar_component + '.njk' %}
    {% else %}
        {% set list_component_include = 'components/listings/bookmark-grid.njk' %}
    {% endif %}

    {% include list_component_include %}

    <hr>

    <footer>
        {% if footnotes.length %}
            {{ footnotes | safe }}
        {% endif %}
    </footer>
</article>
{% endblock %}
