{% extends "layouts/page.njk" %}

{% set page_class = 'page__list' %}
{% set type = tags | specialTagValue('type') %}

{% if sidebar_items %}
    {% set items = sidebar_items %}
{% elseif sidebar_topic === 'stage/stub' %}
    {% set items = collections[sidebar_topic] | reverse %}
{% elseif sidebar_topic %}
    {% set items = collections[sidebar_topic] | notTagged('stage/stub') | reverse %}
{% else %}
    {% set items = collections.writing | notTagged(['type/project', 'type/resource', 'stage/stub', 'type/glossary', 'type/changelog']) | reverse %}
{% endif %}

{% block content %}
<article>
    <header>
        <div class="article-header__category filled-boxes">
            {% if folder %}
                {% include "components/partials/breadcrumbs.njk" %}
            {% else %}
                <span>{{ type }}</span>
            {% endif %}
        </div>

        <div class="article-header__meta">
            {# TODO: last updated date #}
            <span>{{ items.length }} items,</span> last updated on 1st Jan, 2025
        </div>

        <h1 class="article-header__title">{{ title }}</h1>

        <hr/>

        <div class="article-header__stats">
            {% include "components/partials/navigation.njk" %}
        </div>
    </header>

    {% if content.length > 0 %}
    <section class="article-section__content">
        {% if abstract %}<p class="article-section__content-abstract">{{ abstract }}</p>{% endif %}
        <div class="article-section__content-content">{{ content | safe }}</div>
        <aside id="sidenote-column-right" class="article-section__content-ref">
            <div>
                First Published: {{ page.date | dateToFormat('DDD') }} in commit <a href="#">########</a>.<br/>
                Updated: Never<br/>
                {% if reviewed %}Reviewed: {{ reviewed | dateToFormat('DDD') }}{% endif %}
            </div>
        </aside>
    </section>
    <hr>
    {% endif %}

{#    <section>#}
{#        <ul>#}
{#            <li><pre>index_navigation: {% if index_navigation %}{{ index_navigation }}{% else %}(growth-stages){% endif %}</pre></li>#}
{#            <li><pre>sidebar_topic: {{ sidebar_topic }}</pre></li>#}
{#            <li><pre>sidebar_component: components/listings/{{ sidebar_component }}</pre></li>#}
{#            <li><pre>navigation_component: {{ navigation_component or '(none)' }}</pre></li>#}
{#        </ul>#}
{#    </section>#}

    {% if sidebar_component %}
        {% set list_component_include = 'components/listings/' + sidebar_component + '.njk' %}
        {% include list_component_include %}
    {% endif %}

    <hr>

    <footer>
        {% if backlinks.length %}
            <div id="backlinks">
                <h3>Pages Linking Here <a class="header-anchor" href="#backlinks">¶</a></h3>
                <ul>{% for link in backlinks %}<li><a href="{{ link.url }}">{{ link.title }}</a></li>{% endfor %}</ul>
            </div>
        {% endif %}
    </footer>
</article>
{% endblock %}
