{% extends "layouts/page.njk" %}
{% set ogtype = 'article' %}
{% set author = people | whereKeyEquals('name', cite.name) | values(0) %}
{% set bookmarks = collections['resource/bookmark'] | notTagged(['stage/stub']) | reverse %}
{% set previousLink = bookmarks | getPreviousCollectionItem %}
{% set nextLink = bookmarks | getNextCollectionItem %}
{% set index = bookmarks | getCollectionItemIndex %}

{% block content %}
<article>
    <header>
        <span>{% include "components/tag-list.njk" %}</span>
        <span style="font-size: 0.8rem">Bookmarked <time datetime="{{ page.date.toISOString() }}">{{ page.date | dateToFormat("DDD") }}</time>{% if modified %}, modified <time datetime="{{ modified.toISOString() }}">{{ modified | dateToFormat("DDD") }}</time>{% endif %}{% if lastCommitDate %}, last commit <time datetime="{{ lastCommitDate.toISO() }}">{{ lastCommitDate | dateToFormat("DDD") }}</time>{% endif %}</span>
        <h1>{{ title }}</h1>
    </header>
    <section>
        {% if dead %}
            {% set href = wayback or '#' %}
        {% else %}
            {% set href = cite.href %}
        {% endif %}
        <figure>
            <a href="{{ href }}" class="no-ext">
                {% include "components/partials/bookmark-image.njk" %}
            </a>
            {% if cite.name %}
                <cite>Authored by {{ cite.name }}</cite>
            {% endif %}
        </figure>

        <p><a href="{{ href }}" class="bookmark-link">{{ cite.href }}</a></p>

        {% set footnotes = content | extractElementByQuery('section.footnotes') %}
        {{ content | withoutElementsByQuery('section.footnotes') | safe }}
    </section>

    <footer>
        {% if button %}
            <section aria-hidden="true">
                <h3>88x31 buttons</h3>
                <ul class="button-board">
                    {% if button | isArray %}
                        {% for single in button %}
                            <li><img class="btn-88x31" width="88" height="31" src="/img/88x31/{{ single }}" alt="88x31 button for {{ title }}" /></li>
                        {% endfor %}
                    {% else %}
                        <li><img class="btn-88x31" width="88" height="31" src="/img/88x31/{{ button }}" alt="88x31 button for {{ title }}" /></li>
                    {% endif %}
                </ul>
            </section>
        {% endif %}

        {% if feed or src or pages %}
            <section class="links-list">
                <h3>Pages of interest</h3>
                <ul>
                    {% if feed and feed.rss %}
                        <li><a href="{{ feed.rss }}" target="_blank" rel="noopener">RSS</a></li>
                    {% endif %}
                    {% if feed and feed.atom %}
                        <li><a href="{{ feed.atom }}" target="_blank" rel="noopener">Atom</a></li>
                    {% endif %}
                    {% if src %}
                        <li><a href="{{ src.href }}" target="_blank" rel="noopener">{{ src.name }}</a></li>
                    {% endif %}
                    {% if pages and pages.bookmarks %}
                        <li><a href="{{ pages.bookmarks }}" target="_blank" rel="noopener">Bookmarks</a></li>
                    {% endif %}
                    {% if pages and pages.blogroll %}
                        <li><a href="{{ pages.blogroll }}" target="_blank" rel="noopener">Blogroll</a></li>
                    {% endif %}
                    {% if pages and pages.links %}
                        <li><a href="{{ pages.links }}" target="_blank" rel="noopener">Links</a></li>
                    {% endif %}
                    {% if pages and pages.buttons %}
                        <li><a href="{{ pages.buttons }}" target="_blank" rel="noopener">Button Board</a></li>
                    {% endif %}
                    {% if pages and pages.books %}
                        <li><a href="{{ pages.books }}" target="_blank" rel="noopener">Bookshelf</a></li>
                    {% endif %}
                    {% if pages and pages.uses %}
                        <li><a href="{{ pages.uses }}" target="_blank" rel="noopener">/uses</a></li>
                    {% endif %}
                    {% if pages and pages.now %}
                        <li><a href="{{ pages.now }}" target="_blank" rel="noopener">/now</a></li>
                    {% endif %}
                    {% if pages and pages.stats %}
                        <li><a href="{{ pages.stats }}" target="_blank" rel="noopener">Stats</a></li>
                    {% endif %}
                    {% if pages and pages.changelog %}
                        <li><a href="{{ pages.changelog }}" target="_blank" rel="noopener">Changelog</a></li>
                    {% endif %}
                </ul>
            </section>
        {% endif %}

        {% if footnotes.length %}{{ footnotes | safe }}{% endif %}

        <section>
            <h3>Bookmark #{{ index + 1 }}/{{ bookmarks.length }}</h3>
            <nav class="related-notes related-notes__next-previous">
                {% ifAsync previousLink %}
                    <a href="{{ previousLink.url }}">
                        {% set bookmark = previousLink %}
                        {% include "components/partials/bookmark-image.njk" %}
                        <small>&larr; Previous</small>
                        <h4>{{ previousLink.data.title }}</h4>
                    </a>
                {% else %}
                    <span>&nbsp;</span>
                {% endif %}
                {% ifAsync nextLink %}
                    <a href="{{ nextLink.url }}">
                        {% set bookmark = nextLink %}
                        {% include "components/partials/bookmark-image.njk" %}
                        <small>Next &rarr;</small>
                        <h4>{{ nextLink.data.title }}</h4>
                    </a>
                {% else %}
                    <span>&nbsp;</span>
                {% endif %}
            </nav>
        </section>
    </footer>
</article>
{% endblock %}
