{% extends "layouts/base-2026.njk" %}

{% set page_class = 'page__note' %}
{% set ogtype = 'article' %}
{% set readingTime = content | wordStats %}
{% set filteredTags = tags | withoutTags('writing') | excludeSpecialTags(['type', 'resource']) | formatTagList(collections.topics) %}
{% set type = page_type or tags | specialTagValue('type') %}
{% set growthStage = tags | specialTagValue('stage') %}

{% if content_extra %}
    {% set content = [content, content_extra] | join %}
{% endif %}

{% set abstract = content | extractElementByQuery('.abstract') %}
{% set footnotes = content | extractElementByQuery('section.footnotes') %}
{% set sidebar = content | extractElementByQuery('.sidebar') %}

{% set toc_headings = toc_headings | default([]) %}

{% if backlinks.length %}
    {% set backlinks_heading = { id: 'backlinks', text: 'Pages Linking Here' } %}
    {% set toc_headings = toc_headings | merge([backlinks_heading]) %}
{% endif %}
{% set toc_content = content | withHeadings(toc_headings) | toc %}

{% block content %}
<article {% if toc_content %}class="has-toc" {% endif %}data-pagefind-meta="type:{{ type }}" data-pagefind-filter="post">
    <header>
        <span>{{ type or 'Note' }}</span>
        <h1 class="title">{{ title }}</h1>
        {% if abstract %}{{ abstract | safe }}{% endif %}
        <div class="seperator">
            {%- if not hide_header_date -%}
            <time data-pagefind-meta="date:{{ page.date | dateToFormat('DDD') }}" datetime="{{ page.date | dateToFormat('iso') }}">{% if growthStage === 'stub' %}Schedueld for {% endif %}{{ page.date | dateToFormat('DDD') }}</time>
            {%- endif -%}
            {%- if hide_meta !== true and readingTime.words > 0 -%}
                <span>{{ readingTime.text }}</span>
            {%- endif -%}
            <hr class="bar" />
            {% if tags | withoutTags(['writing']) | excludeSpecialTags(['type', 'resource']) | length > 0 %}
            <p aria-label="Topics">
                {% include "components/tag-list.njk" %}
            </p>
            {% endif %}
        </div>
    </header>

    {% if toc_content %}
    <aside class="toc">
        <nav aria-label="Table of contents">
            <h3>On this page</h3>
            {{ toc_content | safe }}
        </nav>
    </aside>
    {% endif %}
    <aside data-pagefind-ignore>
        <!--
        <div data-pagefind-ignore>
            First Published: {{ page.date | dateToFormat('DDD') }} in commit <a href="#">########</a>.<br/>
            Updated: {% if modified %}<time datetime="{{ modified.toISOString() }}">{{ modified | dateToFormat("DDD") }}</time>{% else %}Never{% endif %}<br/>
            {% if reviewed %}Reviewed: {{ reviewed | dateToFormat('DDD') }}{% endif %}
        </div>
        -->

        {% if sidebar %}
            {{ sidebar | safe }}
        {% endif %}

        {% include "components/side-bars/series.njk" %}

        {% include "components/side-bars/prev-next.njk" %}
    </aside>

    <div class="content">
        {% if growthStage === 'stub' %}
            <div class="markdown-alert markdown-alert-caution">
                <p class="markdown-alert-title">Note</p>
                <p>This is a stub post to be filled out in the future. It has been created for the purpose of interlinking feel free to check out what links here from the list below to find related pages.</p>
            </div>
        {% endif %}

        {{ content | withoutElementsByQuery('.sidebar, .abstract, section.footnotes') | safe }}
    </div>

    {% if backlinks.length or footnotes.length or related.length %}
    <footer>
        {{ footnotes | safe }}

        {#    {% if tags | includesTag('wayback machine') %}#}
        {#        <hr/>#}
        {#        {% include "components/wayback-machine.njk" %}#}
        {#    {% endif %}#}

        {% if backlinks.length %}
            {% include "components/backlinks.njk" %}
        {% endif %}

        {% if related.length %}
            <section class="article-section__related" data-pagefind-ignore>
                <h3>Similar Stories</h3>
                <nav class="related-notes">
                    {% for item in related | limit(3) %}
                        <a href="{{ item.url }}">
                            <small>{{ item.data.tags | specialTagValue('type') }}</small>
                            <h4>{{ item.data.title }}</h4>
                        </a>
                    {% endfor %}
                </nav>
            </section>
        {% endif %}
    </footer>
    {% endif %}
</article>
{% endblock %}
