{% extends "layouts/page.njk" %}

{% set page_class = 'page__article' %}
{% set ogtype = 'article' %}
{% set readingTime = content | wordStats %}
{% set filteredTags = tags | withoutTags('writing') | excludeSpecialTags(['type', 'resource']) | formatTagList(collections.topics) %}
{% set type = tags | specialTagValue('type') %}
{% set growthStage = tags | specialTagValue('stage') %}

{% if content_extra %}
    {% set content = [content, content_extra] | join %}
{% endif %}

{% set abstract = content | extractMarkedAbstractContent %}
{% set footnotes = content | extractFootnotes %}

{#{% set headingClass = 'note' %}#}
{#{% set titlePrefix %}#}
{#    {% include "components/growth.njk" %} {{ contentType }}#}
{#{% endset %}#}

{#{% set subTitle %}#}
{#    {% if growthStage === 'stub' %}scheduled for {% else %}planted on {% endif %}#}
{#    <time datetime="{{ page.date.toISOString() }}">{{ page.date | dateToFormat("DDD") }}</time>#}
{#    in: {% include "../components/tag-list.njk" %}.#}
{#    {% if modified %}#}
{#    modified on <time datetime="{{ modified.toISOString() }}">{{ modified | dateToFormat("DDD") }}</time>#}
{#    {% endif %}#}
{#    <br/>{{ readingTime.text if readingTime.words > 0 }}.#}
{#{% endset %}#}

{% block content %}
<article>
    {% include "components/partials/article-header.njk" %}

    <section class="article-section__content">
        {% if abstract %}<div class="article-section__content-abstract">{{ abstract | safe }}</div>{% endif %}
        <aside class="article-section__content-toc">
            {% if backlinks.length %}
                {% set toc_headings = (toc_headings or []).push({id: 'backlinks', text: 'Pages Linking Here'}) %}
            {% endif %}

            {% set toc_content = content | withHeadings(toc_headings) | toc %}

            {% if toc_content %}
                <h4>Table of contents</h4>
                {{ toc_content | safe }}
                <hr style="margin-top: 1rem" />
            {% endif %}

            {% include "components/side-bars/series.njk" %}

            {% include "components/side-bars/prev-next.njk" %}
        </aside>
        <div class="article-section__content-content">
            {% if growthStage === 'stub' %}
                <div class="markdown-alert markdown-alert-caution">
                    <p class="markdown-alert-title">Note</p>
                    <p>This is a stub post to be filled out in the future. It has been created for the purpose of interlinking feel free to check out what links here from the list below to find related pages.</p>
                </div>
            {% endif %}
            {{ content | withoutMarkedAbstractContent| withoutFootnotes | safe }}
        </div>
        <aside id="sidenote-column-right" class="article-section__content-ref">
            <div style="margin-top:1rem">
                First Published: {{ page.date | dateToFormat('DDD') }} in commit <a href="#">########</a>.<br/>
                Updated: Never<br/>
                {% if reviewed %}Reviewed: {{ reviewed | dateToFormat('DDD') }}{% endif %}
            </div>
        </aside>
        {% if footnotes.length or backlinks.length%}
            <footer class="article-section__content-footer">
                {{ footnotes | safe }}

                {#    {% if tags | includesTag('wayback machine') %}#}
                {#        <hr/>#}
                {#        {% include "components/wayback-machine.njk" %}#}
                {#    {% endif %}#}


                {#    {% include "components/backlinks.njk" %}#}
                {% if backlinks.length %}
                    <section>
                        <h2 id="backlinks">Pages Linking Here <a class="header-anchor" href="#backlinks">¶</a></h2>
                        <ul>{% for link in backlinks %}<li><a href="{{ link.url }}">{{ link.title }}</a></li>{% endfor %}</ul>
                    </section>
                {% endif %}
            </footer>
        {% endif %}
    </section>

</article>
{% endblock %}
