<header>
    {% if not minimal_header %}
        <div class="article-header__category filled-boxes">
            {% include "components/partials/breadcrumbs.njk" %}
        </div>
        {% if tags | withoutTags(['writing']) | excludeSpecialTags(['type', 'resource']) | length > 0 %}
        <div class="article-header__meta">
            <span>Words planted in:</span>
            <div>
                {% include "components/tag-list.njk" %}
            </div>
        </div>
        {% endif %}

        {% if not hide_header_date %}
        <div class="article-header__date">
            {% if growthStage === 'stub' %}Schedueld for {% endif %}<time datetime="{{ page.date | dateToFormat('iso') }}">{{ page.date | dateToFormat('DDD') }}</time>
        </div>
        {% endif %}
    {% endif %}

    <h1 class="article-header__title">{{ title }}</h1>

    <hr/>

    {% if readingTime.words > 0 or index_navigation %}
        <div class="article-header__stats">
            {% if index_navigation %}
                {% set index_navigation_include = 'components/navigation/' + index_navigation + '.njk' %}
                {% include index_navigation_include %}
            {% elseif readingTime.words > 0 %}
                <span>{{ readingTime.text }}</span>
            {% endif %}
        </div>
    {% endif %}
</header>
