<header>
    <div class="article-header__category filled-boxes">
        <span><a href="#">{{ type }}</a></span>
        <span>Featured [{{ sidebar_component }}]</span>
    </div>
    <div class="article-header__meta">
        <span>Words planted in:</span>
        <div>
            {% include "components/tag-list.njk" %}
        </div>
    </div>

    <div class="article-header__date">
        {% if growthStage === 'stub' %}Schedueld for {% endif %}<time datetime="{{ page.date | dateToFormat('iso') }}">{{ page.date | dateToFormat('DDD') }}</time>
    </div>

    <h1 class="article-header__title">{{ title }}</h1>

    <hr/>

    {% if readingTime.words > 0 or index_navigation %}
        <div class="article-header__stats">
            {% if index_navigation %}
                {% set index_navigation_include = 'components/navigation/' + index_navigation + '.njk' %}
                {% include index_navigation_include %}
            {% else %}
                <span>{{ readingTime.text }}</span>
            {% endif %}
        </div>
    {% endif %}
</header>
