<header>
    {% if minimal_header %}
        {# This ensures spacing is consistent when meta and date are hidden #}
        <div class="article-header__date" aria-hidden="true">&nbsp;</div>
    {% else %}
        {% if tags | withoutTags(['writing']) | excludeSpecialTags(['type', 'resource']) | length > 0 %}
        <div class="article-header__meta">
            <span>Words planted in:</span>
            <div>
                {% include "components/tag-list.njk" %}
            </div>
        </div>
        {% endif %}

        {% if not hide_header_date %}
        <div class="article-header__date" data-pagefind-meta="date:{{ page.date | dateToFormat('DDD') }}">
            {% if growthStage === 'stub' %}Schedueld for {% endif %}<time datetime="{{ page.date | dateToFormat('iso') }}">{{ page.date | dateToFormat('DDD') }}</time>
        </div>
        {% endif %}
    {% endif %}

    <h1 class="article-header__title">{{ title }}</h1>

    <hr/>

    {% if readingTime.words > 0 %}
        <div class="article-header__stats" data-pagefind-ignore>
            <span>{{ readingTime.text }}</span>
        </div>
    {% else %}
        {# This ensures spacing is consistent when reading time is hidden #}
        <div class="article-header__stats" aria-hidden="true">&nbsp;</div>
    {% endif %}
</header>
