{% for year, items in itemsByYear %}
    <section class="post-list">
        <header class="post-list__inline-header">
            <h3>{{ year }}</h3>
            {% if showMonthLinks %}
            {% set postsByMonth = items | groupByMonth %}
            {% set year = year %}
            <nav>{% include 'components/months-of-year.njk' %}</nav>
            {% else %}
            <span>{{ items.length }} items</span>
            {% endif %}
        </header>
        <ol class="post-list__chronological">
            {% for post in items %}
                {% include "components/post-list-line.njk" %}
            {% endfor %}
        </ol>
    </section>
{% endfor %}
