{% extends "_includes/layouts/page.njk" %}

{% set title = 'Growth' %}

{% block content %}
<article>
    <h1>Growth</h1>
    <p>
        After reading <a href="https://maggieappleton.com/garden-history">A Brief History & Ethos of the Digital Garden</a> I
        was inspired by Maggies <em>Six Patterns of Gardening</em> especially number three: imperfection and learning in public.
    </p>
    <p>
        I have always considered PhotoGabble to be a place where I publish my musings and various tinkering for the world to
        purview if it wants, that lends it to be more of a Digital Garden than blog.
    </p>
    <p>
        A first step in migrating from a Blog structure to more of a cultivated garden is indicating how "done" content is.
        I quite like Maggie's horticultural approach and so will be borrowing her three metaphors:
    </p>
    <ul>
        <li>🌱 <em>Seedlings</em> for very rough and early ideas</li>
        <li>🌿 <em>Budding</em> for work I've cleaned up and clarified</li>
        <li>🌳 <em>Evergreen</em> for work that is reasonably complete.</li>
    </ul>
</article>
{% endblock %}