{% extends "_includes/default.njk" %}

{% block title %}History{% endblock %}

{% block body_class %}light{% endblock %}

{% block content %}
    <p>Content will go here some day...</p>
{% endblock %}