---
folder: 'about'
---
{% extends "../_includes/layouts/base.njk" %}

{% set title = 'History' %}

{% block body_class %}light{% endblock %}

{% block content %}
    <p>Content will go here some day...</p>
{% endblock %}