{% extends "../_includes/layouts/base.njk" %}

{% block title %}My Story{% endblock %}

{% block body_class %}light{% endblock %}

{% block content %}
    <p>Content will go here some day...</p>
{% endblock %}