ul.button-board {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button-board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(81px, 1fr));
    width: 100%;
    column-gap: 0.5rem;
}

.button-board > * {
    width: auto;
    margin: 0;
    padding: 0;
}
