#jumbo-nav {
    display: none;
    width: 100%;
    font-family: var(--monospaced-font-stack);
}

.jumbo-nav__open #jumbo-nav{
    display: block;
    padding: var(--spacing) 0;
}

#jumbo-nav nav {
    display: grid;
    column-gap: 1rem;
    row-gap: var(--spacing);
    grid-template-columns: repeat(2, 1fr);

    color: var(--jumbo-nav-text-color);
    font-size: .9rem;

    padding: 0 var(--gutter);
    margin: 0 auto;
    max-width: 1472px;
    width: 100%;
}

#jumbo-nav dl:not(.community) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#jumbo-nav dl:not(.community) dt {
    border-bottom: 1px solid;
    margin-bottom: 0.5rem;
    height: 20px;
}

#jumbo-nav dl.community {
    margin-top: 0.5rem;
}

#jumbo-nav dl.community dd:first-of-type{
    margin-bottom: 1rem;
}

#jumbo-nav dl.community dd:nth-of-type(2) a {
    text-decoration: none;
    display: inline-block;
    height: 31px;
    width: 88px;
}

#jumbo-nav dl.community:last-child dd:first-of-type {
    margin-bottom: 0;
}

#jumbo-nav dl.community dd:nth-of-type(2) a:hover{
    box-shadow: 0 0 10rem var(--jumbo-nav-anchor-color);
}

#jumbo-nav dt {
    text-transform: uppercase;
    font-size: 80%;
}

#jumbo-nav dt,
#jumbo-nav .footer {
    grid-column: span 2;
}

#jumbo-nav .footer {
    margin-top: .5rem;
}

#jumbo-nav dd {
    margin: 0;
}

#jumbo-nav dd a {
    text-decoration: none;
    color: var(--jumbo-nav-text-color);
}

#jumbo-nav dd span:first-child {
    color: var(--jumbo-nav-anchor-color);
    margin-right: 0.3rem;
    font-size: smaller;
}

#jumbo-nav dd span:nth-child(2) {
    border-bottom: 1px solid var(--jumbo-nav-anchor-color);
}

#jumbo-nav dd a:hover span:first-child {
    color: var(--jumbo-nav-anchor-hover-color);
}

#jumbo-nav dd a:hover span:nth-child(2) {
    border-bottom-color: var(--jumbo-nav-anchor-hover-color);
}

#jumbo-nav div {
    grid-column-end: span 2;
    border-top: 1px solid;
}


#jumbo-nav div a {
    color: var(--jumbo-nav-anchor-color);
    text-decoration: underline;
}

@media (max-width: 425px) {
    #jumbo-nav nav {
        display: flex;
        flex-direction: column;
    }
}
