/* Root styles that are used everywhere */
:root {
    --darker-color: rgba(0, 0, 0, 0.3);
    --dark-color: #2d2524;
    --light-color: #fef9ed;
    --key-color: #f3c400;
    --light-key-color: #009688;

    /* TODO refactor the above into better variable names so it can be themed */

    --sidebar-background-color: #2d2524;
    --sidebar-background-color-muted: #795548;
    --sidebar-color: #fef9ed;
    --sidebar-anchor-color: #f3c400;
    --sidebar-anchor-color-muted: rgba(243, 196, 0, 0.3);
    --sidebar-line-color: #fef9ed;

    --article-background-color: #fef9ed;
    --article-color: #3f3f3f;
    --article-anchor-color: #009688;

    --jumbo-nav-background-color: #001d21;
    --jumbo-nav-text-color: white;
    --jumbo-nav-accent-color: rgb(205 203 255);
    --jumbo-nav-anchor-color: rgb(205 203 255);
    --jumbo-nav-anchor-hover-color: #ff353f;

    /* Markdown Alert Colours */
    --color-note: #0969da;
    --color-tip: #1a7f37;
    --color-warning: #9a6700;
    --color-severe: #bc4c00;
    --color-caution: #d1242f;
    --color-important: #8250df;
}

/* Colours from https://wingolog.org/ */
body.theme__pink {
    --sidebar-background-color: #ecc;
    --sidebar-color: #33a;
    --sidebar-anchor-color: #6c1732;

    --jumbo-nav-background-color: #93445f;
    --jumbo-nav-anchor-color: #310425;
    --jumbo-nav-anchor-hover-color: #ffc107;
}

/* Colours from Win3.1 Hot Dog Stand Theme */
body.theme__hot-dog {
    /* TODO */
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    overflow: hidden;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;

    font-size: 16px;
    text-rendering: optimizeLegibility;
    transition: background-color 300ms, color 200ms;
}

.nav__off{
    text-decoration: none;
}

.nav__on {
    font-weight: bold;
}

/* <figure> can be used to wrap images, code blocks, quotes, etc. Anything that is referenced in
   the main flow of a document, but that can be moved to another part of the document or to an
   appendix without affecting the main flow.
   @see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure */

figure {
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-bottom: .9rem;
}

figure img {
    max-width: 100%;
    height: auto;
}

figure picture {
    display: flex;
    justify-content: center;
}

figure picture + figcaption,
figure img + figcaption {
    font-size: .85rem;
    margin-top: .25rem;
}

figure blockquote + figcaption {
    margin-inline-start: 4.5em;
    margin-inline-end: 2.5em;
}

figure.conversation {
    background-color: #fff;
    border: 1px solid #e5e5ea;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    margin: 0 auto 1rem;
    max-width: 83%;
    padding: 0.5rem 1.5rem;

    p {
        border-radius: 1.15rem;
        line-height: 1.25;
        max-width: 75%;
        padding: 0.5rem .875rem;
        position: relative;
        word-wrap: break-word;
        font-family: sans-serif;
        font-size: 1rem;
    }
    p::before,
    p::after {
        bottom: -0.1rem;
        content: "";
        height: 1rem;
        position: absolute;
    }

    p.from-me {
        align-self: flex-end;
        background-color: #248bf5;
        color: #fff;
    }

    p.from-me::before {
        border-bottom-left-radius: 0.8rem 0.7rem;
        border-right: 1rem solid #248bf5;
        right: -0.35rem;
        transform: translate(0, -0.1rem);
    }

    p.from-me::after {
        background-color: #fff;
        border-bottom-left-radius: 0.5rem;
        right: -40px;
        transform: translate(-30px, -2px);
        width: 10px;
    }

    p[class^="from-"] {
        margin: 0.5rem 0;
        width: fit-content;
    }

    p[class^="from-"].no-tail {
        margin-bottom: 0;
    }

    p.from-me ~ p.from-me,
    p.from-them ~ p.from-them {
        margin: 0.25rem 0 0;
    }

    p.from-me ~ p.from-me:not(:last-child),
    p.from-them ~ p.from-them:not(:last-child){
        margin: 0.25rem 0 0;
    }

    p.from-me ~ p.from-me:last-child,
    p.from-them ~ p.from-them:last-child{
        margin-bottom: 0.5rem;
    }

    p.from-them {
        align-items: flex-start;
        background-color: #e5e5ea;
        color: #000;
    }

    p.from-them:before {
        border-bottom-right-radius: 0.8rem 0.7rem;
        border-left: 1rem solid #e5e5ea;
        left: -0.35rem;
        transform: translate(0, -0.1rem);
    }

    p.from-them::after {
        background-color: #fff;
        border-bottom-right-radius: 0.5rem;
        left: 20px;
        transform: translate(-30px, -2px);
        width: 10px;
    }

    .no-tail::before {
        display: none;
    }

    p.from-me + p.from-them{
        margin-top: 1rem !important;
    }
}

blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 2.5em;
    margin-inline-end: 2.5em;

    border-left: 10px solid #3F51B5;
    padding-left: 1.5em;
}

article blockquote p {
    font-size: 1.875rem;
    font-style: italic;
    width: 100%;
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1rem;
    line-height: 1.4em;
}

table tbody th {
    margin-right: 1rem
}

table tfoot {
    border-top: 4px double;
}

th, td {
    text-align: left
}

.ascii-art{
    white-space: pre;
    font-family: monospace;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: unset;
    transform: unset;
    overflow-y: hidden;
}
