@font-face {
    font-family: 'Iosevka Etoile';
    font-display: swap;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    src: url('/fonts/iosevka-etoile-regular.subset.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Etoile';
    font-display: swap;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    src: url('/fonts/iosevka-etoile-bold.subset.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Etoile';
    font-display: swap;
    font-weight: bold;
    font-stretch: normal;
    font-style: italic;
    src: url('/fonts/iosevka-etoile-bold.subset.woff2') format('woff2');
}

@font-face {
    font-family: 'Iosevka Etoile';
    font-display: swap;
    font-weight: normal;
    font-stretch: normal;
    font-style: italic;
    src: url('/fonts/iosevka-etoile-italic.subset.woff2') format('woff2');
}