{#
    # Item listing in table format
    Used to display a list of topic items, such as posts or articles, with their titles, dates, and other metadata.

    Variables:
    - `items`: Array of topic items to be listed.

    Used by:
    - src/changelog.md
#}
<section class="post-list">
    <ol class="post-list__chronological">
        {% for post in items %}
            {% include "components/post-list-line.njk" %}
        {% endfor %}
    </ol>
</section>
