{#
    # Item listing grouped by year in table format

    Variables:
    - `items`: Array of topic items to be listed.

    Used by:
    - src/noteworthy.md
    - src/essays.md
    - src/thoughts.md
    - src/tutorils.md
#}

{% set itemsByYear = items | groupByYear %}
{% include 'components/partials/post-list-by-year.njk' %}