<section class="list-section">
    {%- for post in items -%}
    {# {% include "components/post-list-line.njk" %} #}
        <article>
            <div>
                <header>
                    <h3><a href="{{ post.url }}" title="Read {{ post.data.title }}">{{ post.data.title }}</a></h3>
                    <small>~267 words, about a 2 min read</small>
                </header>
                <div></div>
                <footer>
                    <small>{% if post.data.growthStage === 'stub' %}Due {% else %}Planted {% endif %}{{ post.data.niceDate or post.date | dateToFormat("DDD") }}</small>
                </footer>
            </div>
        </article>
    {%- endfor -%}
    {#        {% include "components/side-bars/topic.njk" %}#}
</section>
