---
title: Film and TV Series
subTitle: What I have been watching lately
navigation_links:
  - title: 'Watched'
    href: '/lists/film-and-tv/'
  - title: 'Watchlist'
    href: '/lists/watchlist/'
---

<small>This list layout is inspired from <a href="https://www.higby.io/movie-journal/" title="Visit Branden Higby's movies library">Branden Higby's movies library</a> in their digital garden.</small>
