---
title: Connection Graph
folder: [writing, graph]
---
{% extends "layouts/base.njk" %}

{% block content %}
    <p>
        This connection graph takes its roots from the <a href="https://obsidian.md">Obsidian.md</a> writing app. Using data provided by the <a href="#">@photogabble/interlinker</a> plugin it's able to generate a node graph showing the <em>connectedness</em> of every page of this website.
    </p>
    <p>
        It contains {{ collections.all.length }} nodes connected by x edges. xx% of pages on this website connect to another internal page.
    </p>
    <p>
        For more <em>interesting</em> statistics, why not visit the <a href="/stats/">stats page</a>.
    </p>
{% endblock %}
