---
title: Listened To
titlePrefix: List
folder: lists
subTitle: What I have been listening to recently
---
{% extends "../_includes/layouts/page.njk" %}

{% block pageContent %}
    <section>
        <p>Coming soon with a last.fm integration...</p>
    </section>

    <hr/>

    <section>
        <p><small>This music list layout is inspired from <a href="https://www.higby.io/library/music/" title="Visit Branden Higby's music library">Branden Higby's music library</a> in their digital garden.</small></p>
    </section>
{% endblock %}