---
pagination:
  data: collections.lists
  size: 1
  alias: list
permalink: /lists/{{ list.slug }}/index.html
folder: lists
---

{% extends "_includes/layouts/page.njk" %}

{% set title = list.title %}
{% set titlePrefix = list.prefix or 'List' %}
{% set subTitle = list.description %}

{% block pageContent %}
  <section>
    <ul>
      {%- for item in list.items -%}
        {{ item | debug }}
      <li><a href="{{ item.data.cite.href }}" rel="noopener">{{ item.data.title }}</a></li>
      {%- endfor -%}
    </ul>
  </section>
{% endblock %}