{% if backlinks.length > 0 %}
    <nav>
        <h3>Linking here</h3>
        <ul>
            {%- for link in backlinks %}
                <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {%- endfor %}
        </ul>
    </nav>
{% endif %}