<section>
    <p><small>
        This books page layout was inspired by the books pages of
        <a href="https://daverupert.com/bookshelf/">Dave Rupert</a>,
        <a href="https://www.markllobrera.com/reading/years/2020/">Mark Llobrera</a>,
        <a href="https://annualbeta.com/bookshelf/">Søren Birkemeyer</a> and
        <a href="https://derekshirk.com/reads/">Derek Shirk</a>. I originally got the idea for a books page from
        <a href="https://maggieappleton.com/library">Maggie Appleton</a> and her Antilibrary. The first version of this page was inspired by
        <a href="https://www.coxchapman.com/books">Cox Chapman's Books page</a>.
    </small></p>
</section>