<a href="/about/" {% if page.url === '/about/' %}class="nav__on"{% endif %}>About</a> •
<a href="/colophon/" {% if page.url === '/colophon/' %}class="nav__on"{% endif %}>Colophon</a> •
<a href="/changelog/" {% if page.url === '/changelog/' %}class="nav__on"{% endif %}>CHANGELOG</a>
