<a href="/stubs/" {% if page.url === '/stubs/' %}class="nav__on"{% endif %}>Stubs</a> •
<a href="/growth/seedling/" {% if page.url === '/growth/seedling/' %}class="nav__on"{% endif %}>Seedlings</a> •
<a href="/growth/budding/" {% if page.url === '/growth/budding/' %}class="nav__on"{% endif %}>Budding</a> •
<a href="/growth/evergreen/" {% if page.url === '/growth/evergreen/' %}class="nav__on"{% endif %}>Evergreen</a> •
<a href="/growth/ephemeral/" {% if page.url === '/growth/ephemeral/' %}class="nav__on"{% endif %}>Ephemeral</a>
