<a href="/books/" class="{% if page.url === '/books/'%}nav__on{% else %}nav__off{% endif %}">Library</a> <span>|</span> <a href="/antilibrary/" class="{% if page.url === '/antilibrary/'%}nav__on{% else %}nav__off{% endif %}">Antilibrary</a>
