<a href="/now/" class="{% if page.url | startsWith('/now/') %}nav__on{% else %}nav__off{% endif %}">/now</a> •
<a href="/uses/" class="{% if page.url === '/uses/' %}nav__on{% else %}nav__off{% endif %}">/uses</a> •
<a href="/elsewhere/" class="{% if page.url === '/elsewhere/' %}nav__on{% else %}nav__off{% endif %}">Elsewhere</a>
