<a href="/changelog/addition-of-post-graphs-to-stats-page/">About</a>
<span>|</span>
<a href="/stats/" class="{% if page.url === '/stats/'%}nav__on{% endif %}">Stats</a>
<span>|</span>
<a href="/stats/all-time/" class="{% if page.url === '/stats/all-time/'%}nav__on{% endif %}">View all years</a>
