<a href="/writing/" class="{% if page.url === '/writing/'%}nav__on{% else %}nav__off{% endif %}">Chronological List</a>
<span>|</span>
<a href="/writing/graph/" class="{% if page.url === '/writing/graph/'%}nav__on{% else %}nav__off{% endif %}">Graph</a>
