{# TODO: only replace if on an actual page #}
<a href="/writing/" hx-boost="true" hx-select="#left" hx-target="#left" hx-swap="outerHTML" class="{% if page.url === '/writing/'%}nav__on{% else %}nav__off{% endif %}">Chronological List</a><span>|</span><a href="/writing/graph/" hx-boost="true" hx-select="#left" hx-target="#left" hx-swap="outerHTML" class="{% if page.url === '/writing/graph/'%}nav__on{% else %}nav__off{% endif %}">Graph</a><span>|</span>
