<a href="/essays/" {% if page.url === '/essays/' %}class="nav__on"{% endif %}>Essays</a> |
<a href="/tutorials/" {% if page.url === '/tutorials/' %}class="nav__on"{% endif %}>Tutorials</a> |
<a href="/noteworthy/" {% if page.url === '/noteworthy/' %}class="nav__on"{% endif %}>Noteworthy</a> |
<a href="/thoughts/" {% if page.url === '/thoughts/' %}class="nav__on"{% endif %}>Thoughts</a> |
<a href="/series/" {% if page.url === '/series/' %}class="nav__on"{% endif %}>Series</a>