---
title: Content Stats, all time
folder: [writing, stats]
---
{% extends "layouts/page.njk" %}
{% set page_class = 'page__article' %}
{% set index_navigation = 'stats' %}

{% block content %}
<article>
    {% include "components/partials/article-header.njk" %}
    <section class="article-section__content">

        <aside class="article-section__content-toc"></aside>

        <div class="article-section__content-content">
            {% blogtimes %}
        </div>

        <aside id="sidenote-column-right" class="article-section__content-ref">
            <div style="margin-top:1rem">
                First Published: {{ page.date | dateToFormat('DDD') }} in commit <a href="#">########</a>.<br/>
                Updated: Never<br/>
                {% if reviewed %}Reviewed: {{ reviewed | dateToFormat('DDD') }}{% endif %}
            </div>
        </aside>
    </section>
</article>
{% endblock %}

{% block pageContent %}
    <section class="stats__post-graphs">
{#        {% postGraph collections.post, {sort: 'desc'} %}#}
    </section>
{% endblock %}
