---
title: Writing Stats
folder: [writing, stats]
---
{% extends "layouts/base.njk" %}

{% set postStats = collections.writing | notTagged(['type/project', 'type/resource', 'stage/stub', 'type/glossary', 'type/changelog'])  | collectionStats %}

{% block sidebar %}
    <section class="stats__post-graphs">
        <header>
            <h2>Activity: This Year Vs Previous</h2>
            <a href="/changelog/addition-of-post-graphs-to-stats-page/">About</a>
            <a href="/stats/all-time">View all years</a>
        </header>
        {% postGraph collections.writing, {sort: 'desc', limit: 2} %}
    </section>

    <section>
        <h2>Posts/words per year</h2>

        <table>
            <thead>
            <tr>
                <th>Year</th>
                <th>No. of posts</th>
                <th>Words</th>
                <th>Avg. words</th>
            </tr>
            </thead>
            <tbody>
            {% for year in postStats.byYear %}
                <tr>
                    <td>{{ year.year }}</td>
                    <td>{{ year.totalItems }}</td>
                    <td>{{ year.totalWords }}</td>
                    <td>{{ year.avgWords }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}


{% block content %}
    <article>
        <header>
            <h1>Writing Statistics</h1>
            <h2>And other digital curios</h2>
        </header>
        <section>
            <p>
                This page started off as a shameless copy of <a href="https://timharek.no/stats">Tim Hårek Andreassen's blog stats page</a> but has over time grown to become more than what inspired it.
            </p>
            <blockquote>
                <p>
                    Since <strong>2007</strong> this website has had <strong>{{ postStats.totalItems }}</strong> posts published containing an average of <strong>~{{ postStats.avgWords }}</strong> words each for an overall total of <strong>{{ postStats.totalWords }}</strong> words published.
                </p>
                <p>
                    The longest post is <a href="{{ postStats.longestItem.item.url }}" title="Read {{ postStats.longestItem.item.data.title }}">{{ postStats.longestItem.item.data.title }}</a> with {{ postStats.longestItem.wordCount }} words
                </p>
            </blockquote>
            <p>
                Taking inspiration from Juah's post: <a href="https://hamatti.org/posts/i-gamified-my-own-blog/">I gamified my own blog</a>, I will be adding some badges or <em>something</em> here to pad out the bottom of this page a bit. For now the graphs generated by <a href="https://postgraph.rknight.me/">@rknightuk/eleventy-plugin-post-graph</a> and content breakdown table to the left will have to make do.
            </p>
        </section>
    </article>
{% endblock %}

