---
title: Writing Stats
folder: [writing, stats]
---
{% extends "layouts/page.njk" %}
{% set page_class = 'page__article' %}

{% set postStats = collections.writing | notTagged(['type/project', 'type/resource', 'stage/stub', 'type/glossary', 'type/changelog'])  | collectionStats %}
{% set index_navigation = 'stats' %}

{% block content %}
<article>
    {% include "components/partials/article-header.njk" %}
    <section class="article-section__content">

        <p class="article-section__content-abstract">
            This page started off as a shameless copy of <a href="https://timharek.no/stats">Tim Hårek Andreassen's blog stats page</a> but has over time grown to become more than what inspired it.
        </p>

        <aside class="article-section__content-toc"></aside>

        <div class="article-section__content-content">
            <blockquote>
                <p>
                    Since <strong>2007</strong> this website has had <strong>{{ postStats.totalItems }}</strong> posts published containing an average of <strong>~{{ postStats.avgWords }}</strong> words each for an overall total of <strong>{{ postStats.totalWords }}</strong> words published.
                    The longest post is <a href="{{ postStats.longestItem.item.url }}" title="Read {{ postStats.longestItem.item.data.title }}">{{ postStats.longestItem.item.data.title }}</a> with {{ postStats.longestItem.wordCount }} words
                </p>
            </blockquote>
            <p>
                Taking inspiration from Juah's post: <a href="https://hamatti.org/posts/i-gamified-my-own-blog/">I gamified my own blog</a>, I will be adding some badges or <em>something</em> here to pad out the bottom of this page a bit. For now the graphs generated by <a href="https://postgraph.rknight.me/">@rknightuk/eleventy-plugin-post-graph</a> and content breakdown table will have to make do.
            </p>

            {% postGraph collections.writing, {sort: 'desc', limit: 2} %}

            <section>
                <h2>Posts/words per year</h2>

                <table>
                    <thead>
                    <tr>
                        <th>Year</th>
                        <th>No. of posts</th>
                        <th>Words</th>
                        <th>Avg. words</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for year in postStats.byYear %}
                        <tr>
                            <td>{{ year.year }}</td>
                            <td>{{ year.totalItems }}</td>
                            <td>{{ year.totalWords }}</td>
                            <td>{{ year.avgWords }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>

        <aside id="sidenote-column-right" class="article-section__content-ref">
            <div style="margin-top:1rem">
                First Published: {{ page.date | dateToFormat('DDD') }} in commit <a href="#">########</a>.<br/>
                Updated: Never<br/>
                {% if reviewed %}Reviewed: {{ reviewed | dateToFormat('DDD') }}{% endif %}
            </div>
        </aside>
    </section>
</article>
{% endblock %}

