@import "_styles/_jumbonav.css";
@import "_styles/components/_table.css";
@import "_styles/components/_stats.css";

html:root, html[data-theme="classic"], [data-theme="classic"] {
    --spacing: 1.5rem;
    --gutter: 40px;
    --left-margin: 330px;

    --page-background: #fff1e0;
    --page-background-offset: #7e6a51;
    --page-text-colour: #26075e;
    --page-border-colour: #292823;
    --page-key-colour: #ff353f;
    --page-key-colour-contrast: #990054;
    --category-background: #4a3677;
    --category-text-colour: #fff1e0;

    --stats-box: #ecdbc6;
    --stats-box-highlight: #33439b;

    --jumbo-nav-background-color: #001d21;
    --jumbo-nav-text-color: #fff1e0;
    --jumbo-nav-accent-color: rgb(205 203 255);
    --jumbo-nav-anchor-color: rgb(205 203 255);
    --jumbo-nav-anchor-hover-color: #ff353f;

    /* #ff353f14 */

    /* Markdown Alert Colours */
    --highlight-color-note: #0969da;
    --background-color-note: rgba(9, 105, 218, 0.1);
    --highlight-color-tip: #1a7f37;
    --background-color-tip: rgba(26, 127, 55, 0.1);
    --highlight-color-warning: #9a6700;
    --background-color-warning: rgba(154, 103, 0, 0.1);
    --highlight-color-severe: #bc4c00;
    --background-color-severe: rgba(188, 76, 0, 0.1);
    --highlight-color-caution: #ff353f;
    --background-color-caution: rgba(255, 53, 63, 0.1);
    --highlight-color-important: #8250df;
    --background-color-important: rgba(130, 80, 223, 0.1);

    --serif-font-stack: 'Source Serif', serif;
    --sans-serif-font-stack: sans-serif;
    --monospaced-font-stack: monospace;
}

html[data-theme="chocolate-thunda"], [data-theme="chocolate-thunda"] {
    --page-background: #34252F;
    --page-background-offset: #3B5249;
    --page-text-colour: #BEC5AD;
    --page-key-colour: #519872;
    --page-border-colour: #3B5249;

    --category-background: #519872;
    --category-text-colour: #34252F;
}

html[data-theme="blue"], [data-theme="blue"] {
    --page-background: #234E70;
    --page-background-offset: #426682;
    --page-text-colour: #FBF8BE;
    --page-border-colour: #bdc5ad;
    --page-key-colour: #fbbc55;

    --category-background: #bdc5ad;
    --category-text-colour: #234E70;
}

html[data-theme="blush"], [data-theme="blush"] {
    --page-background: #eddad1;
    --page-background-offset: #edc8b7;
    --page-text-colour: #113d6a;
    --page-border-colour: #795548;
    --page-key-colour: #ab3c61;

    --category-background: #795548;
    --category-text-colour: #eddad1;
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-Regular.ttf.woff2') format('woff2');
}

@font-face {
    font-family: 'Source Serif';
    font-weight: 400;
    font-display: swap;
    font-style: italic;
    font-stretch: normal;
    src: url('fonts/SourceSerif4-It.ttf.woff2') format('woff2');
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--page-text-colour) var(--page-background);
}

/*
  Josh's Custom CSS Reset (with modifications)
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: var(--serif-font-stack);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: var(--page-background);
    color: var(--page-text-colour);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

a {
    color: var(--page-key-colour);
}

a:hover {
    text-decoration: none;
}

a.nav__on {
    color: var(--page-key-colour-contrast);
}

hr {
    height: 1px;
    border: none;
    background: var(--page-border-colour);
}

/*
 * Main Header
 */

.header-main {
    background: transparent;
    padding: 1ch 0;
    border-bottom: 1px solid;

    > div {
        padding: 0 var(--gutter);
        margin: 0 auto;
        max-width: 1472px;
        width: 100%;

        display: flex;
        justify-content: space-between;
    }

    hr {
        margin-top: 1ch;
    }

    svg {
        width: 1rem;
        height: 1rem;
    }
}

.header-main__logo {

}

.header-main__menu {
    gap: 1ch;
}

.jumbo-nav__open .header-main {
    background: var(--jumbo-nav-background-color);
    color: var(--jumbo-nav-text-color);
}

/*
 * Theme Picker
 */

.theme-picker {
    font-family: var(--monospaced-font-stack);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--page-background-offset);
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    ul {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: auto;
        text-align: center;
        overflow-scrolling: touch;
        padding: 1rem 1.5rem 2rem;

        li {
            display: inline-block;
            position: relative;
            border-radius: .5em;
        }

        li + li {
            margin-left: 1rem;
        }

        button {
            display: block;
            padding: 1em;
            border-radius: .5em;
            border: 1px solid rgba(0, 0, 0, .1);
            width: 100%;
            text-align: center;
            background-color: var(--page-background);
            color: var(--page-text-colour);
            cursor: pointer;
            font-size: 0.75rem;
            transform: scale(1);
            transition: transform .2s cubic-bezier(.4, 0, .2, 1);
            position: relative;

            &:hover{
                transform: scale(1.05);
            }
        }
    }
}

.theme-picker__title {
    padding-top: 1rem;
    font-size: 1.4rem;
    color: var(--page-background);
}

.theme-selector-btn__current::after {
    position: absolute;
    content: '';
    display: block;
    background: var(--page-text-colour);
    width: 10px;
    height: 10px;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
}

.theme-picker__swatches {
    display: block;
    padding: .125em 0;

    span {
        display: inline-block;
        width: 22px;
        height: 22px;
        border-radius: 100%;
        background-color: black;
        border: 2px solid white;
    }

    span + span {
        margin-left: -0.995em;
    }

    .background-offset {
        background-color: var(--page-background-offset);
    }
    .text {
        background-color: var(--page-text-colour);
    }
    .border {
        background-color: var(--page-border-colour);
    }
    .key {
        background-color: var(--page-key-colour);
    }
    .category {
        background-color: var(--category-background);
    }

}

body.theme-picker__visible .theme-picker {
    height: 11rem;
}

/*
 * Styles shared between Page Types
 */

.filled-boxes {
    display: flex;
    font-family: var(--monospaced-font-stack);
    font-size: .875rem;
    letter-spacing: .0725rem;

    span, button {
        width: fit-content;
        border: 1px solid var(--category-background);
        background: var(--category-background);
        color: var(--category-text-colour);
        line-height: 1.29;
        padding: 6px 12px;
        font-weight: lighter;
    }

    span + span, button + span {
        background: var(--category-text-colour);
        color: var(--category-background);
    }

    a {
        color: inherit;
    }

    a:hover {
        text-decoration: none;
        color: #ff8af2;
    }

    button {
        cursor: pointer;
    }

    button:hover {
        background: var(--page-border-colour);
    }
}

ol.list__alphabet,
ul.list__alphabet {
    margin: 0;
    padding:0;
    list-style: none;
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.article-section__content {
    font-size: 1.3rem;
    line-height: 1.3;
}

.article-section__content-content {
    h2,h3,h4,h5,h6{
        margin-top: calc(var(--spacing)* 2);
    }

    > * {
        margin-bottom: var(--spacing);
    }

    > :first-child {
        margin-top: 0;
    }

    > ul, > ol {
        padding-left: 0;
    }

    hr {
        width: 1.5ch;
        padding: 0;
        height: 1.5px;
        background: var(--page-text-colour);
    }

    picture > img {
        height: auto;
    }

    :not(pre) > code {
        font-family: var(--monospaced-font-stack);
        font-size: 1rem;
        color: var(--page-border-colour);
    }

    pre {
        font-size: 1rem;
    }

    /* Overwrite padding set by Prism */
    pre[class*="language-"] {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    pre:not([class*="language-"]) {
        background: var(--page-border-colour);
        color: var(--page-background);
        padding: 1rem;
    }

    small {
        font-size: 60%;
        font-family: var(--monospaced-font-stack);
    }

    li {
        margin-bottom: calc(var(--spacing) / 4);
    }
}

.article-section__content-footer {
    h3{
        margin-bottom: var(--spacing);
    }
    ol, ul {
        font-size: 1rem;
        padding-left: 0;
    }
    li {
        margin-bottom: calc(var(--spacing) / 4);
    }
}

#backlinks ul{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    font-family: var(--monospaced-font-stack);
    font-size: 0.9rem;
    list-style-position: inside;
}

/*
 * Page Type: Default
 */

.page__default {
    article {
        margin: var(--gutter) 0;
        display: grid;
        grid-template-columns: auto var(--gutter) 300px 50px minmax(auto, 1042px) var(--gutter) auto;

        > header,
        .article-section__content {
            grid-column: 5 / 6;
        }

        header {
            margin-bottom: var(--spacing);
        }

        .article-image {
            position: relative;
            grid-column: 1 / 4;
            grid-row: 1 / 4;

            img {
                position: absolute;
                left: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }
}

/*
 *  Page Type: Article, List
 */
.page__list,
.page__article {
    main > article {
        margin: 60px auto;
        max-width: 1472px;
        width: 100%;
    }

    main > article > header {
        display: grid;
        grid-template-areas:
                "category category"
                "meta date"
                "title title"
                "seperator seperator"
                ". reading-time";
        grid-template-columns: minmax(0, 1fr) max-content;
        padding: 0 var(--gutter);
        max-width: 1472px;

        h1 {
            font-size: clamp(2rem, 6vw, 5rem);
            line-height: 1;
        }

        h2 {
            margin-top: var(--spacing);
            font-size: clamp(1rem, 6vw, 2rem);
            line-height: 1.25;
        }

        hr {
            grid-area: seperator;
            margin-top: 2rem;
            margin-bottom: calc(var(--spacing) / 2);
        }
    }

    .article-header__title{
        grid-area: title;
        grid-column: 1;
    }

    .article-header__category {
        grid-area: category;
        margin-bottom: var(--spacing);
    }

    .article-header__date {
        font-family: var(--monospaced-font-stack);
        grid-area: date;
        align-self: end;
        justify-self: end;
        margin-bottom: var(--spacing);
    }

    .article-header__stats {
        font-family: var(--monospaced-font-stack);
        grid-area: reading-time;
        align-self: end;
        justify-self: end;
    }

    .article-header__meta {
        font-family: var(--monospaced-font-stack);
        grid-area: meta;
        display: grid;
        gap: 10px;
        grid-template-columns: max-content auto;
        margin-bottom: var(--spacing);

        span:first-child {
            border-bottom: 1px solid var(--page-border-colour);
            padding-bottom: calc(var(--spacing) / 2);
        }
    }

    article > section {
        padding: calc(var(--gutter) / 2) var(--gutter);
    }

    article > hr {
        margin: calc(var(--gutter) / 2) var(--gutter);
    }

    .article-section__content {
        display: grid;
        grid-template-areas:
                "abstract abstract ."
                "toc article references"
                "toc footer references";
        grid-template-columns: var(--left-margin) minmax(0, 1fr) 250px;
        row-gap: var(--gutter);
        column-gap: calc(var(--gutter) / 2);
    }

    .article-section__content-abstract {
        font-size: clamp(1rem, 6vw, 2rem);
        grid-area: abstract;
        line-height: 1.25;
    }

    .article-section__content-content {
        grid-area: article;
        font-size: 1.3rem;
        line-height: 1.3;
        max-width: 1472px;

        .full-width {
            margin-left: 0;
        }
    }

    .article-section__content-content > *:first-child:not(p) {
        margin-top: 5px;
    }

    .footnote-ref {
        font-family: var(--monospaced-font-stack);
        font-size: 0.8rem;
    }

    .article-section__content-toc,
    .article-section__content-ref {
        font-family: var(--monospaced-font-stack);
        font-size: 0.8rem;
        margin-top: 5px;
        padding-top: 1rem;
        border-top: 1px solid var(--page-border-colour);
    }

    .article-section__content-toc {
        grid-area: toc;
    }

    .article-section__content-toc > nav {
        position: sticky;
        top: var(--gutter);
    }

    .article-series__content ol {
        list-style: none;
        padding: 0;
        margin: 1rem 0;

        li {
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }


    .article-section__content-ref {
        grid-area: references;
    }

    .article-section__content-footer {
        grid-area: footer;
        border-top: 1px solid var(--page-border-colour);
        padding-top: var(--spacing);
    }
}

/**
 * Quotes
 */

figure.citation blockquote {
    font-size: 2rem;
    line-height: 1.2;

    border-left: 6px solid;
    padding-left: 1rem;
}

figure.citation figcaption {
    font-family: var(--monospaced-font-stack);
    padding-left: calc(1rem + 6px);
    font-size: 1rem;
    margin-top: 0.5rem;

    &::before {
        content: '↑';
        font-weight: bold;
        margin-right: 1ch;
        background: var(--page-border-colour);
        color: var(--page-background);
        aspect-ratio: 1;
        display: inline-block;
        width: 2ch;
        text-align: center;
    }
}

/*
 *  Page Type: Article, List
 */

.markdown-alert {
    font-size: 1.2rem;
    margin: var(--spacing) 0;
    padding: var(--spacing) !important;
    border: 1px solid var(--page-key-colour);
    border-left-width: .25em;

    p {
        font-size: 1em;
        font-family: sans-serif;
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

    .markdown-alert-title {
        display: inline-flex;
        color: var(--page-background);
        align-items: center;
        line-height: 1;
        padding: 1px 4px;
        margin-bottom: calc(var(--spacing) / 2);

        .octicon {
            margin-right: 0.5rem;
            display: inline-block;
            overflow: visible !important;
            vertical-align: text-bottom;
            fill: currentColor;
        }
    }

    &.markdown-alert-note {
        border-color: var(--highlight-color-note);
        background: var(--background-color-note);

        .markdown-alert-title {
            background: var(--highlight-color-note);
        }

        a {
            color: var(--highlight-color-note);
        }
    }

    &.markdown-alert-important {
        border-color: var(--highlight-color-important);
        background: var(--background-color-important);

        .markdown-alert-title {
            background: var(--highlight-color-important);
        }

        a {
            color: var(--highlight-color-important);
        }
    }

    &.markdown-alert-warning {
        border-color: var(--highlight-color-warning);
        background: var(--background-color-warning);

        .markdown-alert-title {
            background: var(--highlight-color-warning);
        }

        a {
            color: var(--highlight-color-warning);
        }
    }

    &.markdown-alert-tip {
        border-color: var(--highlight-color-tip);
        background: var(--background-color-tip);

        .markdown-alert-title {
            background: var(--highlight-color-tip);
        }

        a {
            color: var(--highlight-color-tip);
        }
    }

    &.markdown-alert-caution {
        border-color: var(--highlight-color-caution);
        background: var(--background-color-caution);

        .markdown-alert-title {
            background: var(--highlight-color-caution);
        }

        a {
            color: var(--highlight-color-caution);
        }
    }
}

/*
 * Page Type: List
 * List pages use the abstract font size for the main content.
 */

.page__list .article-section__content {
    grid-template-columns: minmax(0, 1fr) 250px;
    grid-template-areas:"article references";
    row-gap: 0;
}

.page__list .list-section {
    grid-area: list;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gutter);
}

.page__list .list-section article {
    display: block;
    background: bisque;
    padding: 1ch;

    > div {
        border: 1px solid var(--page-border-colour);
        min-height: 250px;
        display: grid;
        grid-template-rows: 110px 1fr 30px;
    }

    small{
        font-family: var(--monospaced-font-stack);
        color: var(--page-text-colour);
    }

    header {
        align-self: flex-end;
        padding: 1ch;

        h3{
            font-size: 1.4rem;
            margin-bottom: 0;
        }
    }

    footer{
        display: flex;
        align-items: center;
        border-top: 1px solid var(--page-border-colour);
        padding: 0 1ch;
    }
}

.page__list .list-section .featured {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    height: 100%;
}

.page__list .article-section__content-content {
    font-size: clamp(1rem, 6vw, 1.5rem);
}

.page__list .article-section__content-content > * {
    padding-right: var(--left-margin);
}

.page__list .article-section__content-content p:first-child {
    font-size: clamp(1.2rem, 6vw, 2rem);
    line-height: 1.25;
    padding-right: 0;
}

.page__list .article-section__content-footer {
    margin-left: 0;
}

/*
 * Component: Book Listing
 *
 * The source code for this component was taken from Robin Spielmann's media page. It has been modified slightly to fit
 * the style of this website. The original source code is MIT licensed and can be found on GitHub below:
 *
 * @see https://www.iamrob.in/media
 * @see https://github.com/iam-robin/personal-website/blob/main/src/components/books/book-item.css
 */

.book-list {
    font-family: var(--monospaced-font-stack);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--gutter);

    a{ text-decoration: none; }
    a:hover h3{ text-decoration: underline; }
    p { color: var(--page-text-colour); }

    .book-wrap{
        padding: 5rem 1rem;
        background: #d7673c14;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
    }

    .book {
        width: 140px;
        height: 200px;
        position: relative;
        text-align: center;
    }

    .book .cover {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        transform-origin: 0 50%;
        -webkit-transform-origin: 0 50%;
        background: #cbd5e1;
        background-size: cover;
        background-position: center;
        border-radius: 3px;
        box-shadow:
                inset 4px 1px 3px #ffffff60,
                inset 0 -1px 2px #00000080;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
    }

    .book .cover.cover__placeholder > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        font-size: 0.65rem;
    }

    .effect {
        width: 20px;
        height: 100%;
        margin-left: 10px;
        border-left: 2px solid #00000010;
        background-image: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0.2) 0%,
                rgba(255, 255, 255, 0) 100%
        );
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

    .light {
        width: 90%;
        height: 100%;
        position: absolute;
        border-radius: 3px;
        background-image: linear-gradient(
                90deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.2) 100%
        );
        top: 0;
        right: 0;
        opacity: 0.1;
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }

    .book-item:hover {
        .cover {
            transform: perspective(2000px) rotateY(-30deg);
            -webkit-transform: perspective(2000px) rotateY(-30deg);
            transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            box-shadow:
                    inset 4px 1px 3px #ffffff60,
                    inset 0 -1px 2px #00000080,
                    10px 0 10px -5px #00000030;
        }

        .effect {
            width: 40px;
        }

        .light {
            opacity: 1;
            width: 70%;
        }
    }

    .book-inside {
        width: calc(100% - 2px);
        height: 96%;
        position: relative;
        top: 2%;
        border: 1px solid grey;
        border-radius: 3px;
        background: white;
        box-shadow:
                10px 40px 40px -10px #00000030,
                inset -2px 0 0 grey,
                inset -3px 0 0 #dbdbdb,
                inset -4px 0 0 white,
                inset -5px 0 0 #dbdbdb,
                inset -6px 0 0 white,
                inset -7px 0 0 #dbdbdb,
                inset -8px 0 0 white,
                inset -9px 0 0 #dbdbdb;
    }
}

/*
 * Misc
 */

.rabbit-hole-img {
    float: right;
    margin: -380px 0 0 !important;
}
