---
title: 'About Me'
---
{% extends "layouts/base.njk" %}

{% block sidebar %}

    <section class="post-list">
        <header>
            <h3>About Simon Dann</h3>
            <p>AKA Carbon Twelve, AKA Mx Autumn.</p>
        </header>
        <ol>
            <li><small>1.</small><hr/> <a href="#experience">Experience &amp; Skills</a></li>
            <li><small>2.</small><hr/> <a href="#photography">Photography</a></li>
            <li><small>3.</small><hr/> <a href="#folding-at-home">Folding@Home</a></li>
            <li><small>4.</small><hr/> <a href="#inspiraton">Inspiration</a></li>
        </ol>
    </section>

{% endblock %}

{% block content %}
<article>
    <header>
        <h1>Who am I?</h1>
    </header>
    <section>
        <img src="/img/headshot.jpg" alt="Headshot of Simon Dann">
        <p>I'm a "full stack" web developer from the UK currently building interesting things with Vue.js, PHP, Golang and Node.</p>
        <p>I started playing with computers on an old Toshiba 386 luggable in the mid-nineties and have since been making websites for about 21 years.</p>
        <p>My interests include macro photography, <a href="/topic/retro-computing/">vintage computing</a>, astrophysics and <a href="/topic/game-development/">game development</a>. I enjoy combining my interests, for example: developing a game for <a href="/topic/dos/">MS-DOS</a> in the C programming language so that I can run it on <a href="/noteworthy/toshiba-t1200/">the 8086 computer I bought on eBay on a whim</a>.</p>
        <p>I can be reached via email, but you will likely have better success via <a href="https://notacult.social/@carbontwelve">Mastodon</a>.</p>
        <!-- Wikilinks: [[Toshiba T1200]] -->
    </section>

    <section>
        <a id="experience"></a>
        <h2>Work Experience</h2>
        <ul>
            <li>
                Senior Software Developer
                <br>
                <small>Wefix Ltd, 2021&ndash;Now</small>
            </li>
            <li>
                Senior Software Developer
                <br>
                <small>Achiive Ltd, 2018&ndash;2021</small>
            </li>
            <li>
                Digital Media Developer
                <br>
                <small>FCB Halesway, 2013&ndash;2018</small>
            </li>
            <li>
                PHP Software Developer
                <br>
                <small>Submission Technology Ltd, 2012&ndash;2013</small>
            </li>
            <li>
                PHP Web Developer
                <br>
                <small>Self Employed, 2009&ndash;2012</small>
            </li>
            <li>
                eCommerce Manager
                <br>
                <small>Kent Paints &amp; Car Panels Ltd, 2008&ndash;2010</small>
            </li>
        </ul>
    </section>

    <section>
        <a id="photography"></a>
        <h2>Photography</h2>
        <p>I have a keen interest in photography, especially Macro, Micro and Landscape photography. Early on in my career between 2008 and 2012 I did Product, Wedding and Event photography professionally. Unfortunately all my photography from that time is locked away on hard drives I have since put in storage. If I ever do get round to digging them out again I will link from here to a gallery of my selected favourites.</p>

        <p>I used to rock a 5D MkII and a 7D MkI with a selection of glass that would impress most photography enthusiasts. Nowadays, I find my iPhone to be good enough for the pot shots I make on a daily basis supplemented with a Canon 70D and 40mm prime lens for family photographs.</p>
    </section>

    <section>
        <a id="folding-at-home"></a>
        <h2>Folding@Home</h2>

        <p>
            <span class="marginnote">
                <a href="https://folding.extremeoverclocking.com/user_summary.php?s=&u=666633">
                    <img src="https://folding.extremeoverclocking.com/sigs/sigimage.php?u=666633&t=35947" alt="Folding @ Home"/>
                </a>
            </span>
            For about six years staring from November 2014 I donated spare CPU cycles of computers I used to <a href="https://foldingathome.org/">Folding@Home</a> this was largely facilitated through the Folding@Home NaCL web client.
        </p>
        <p>Unfortunately the NaCL client was retired in part due to <a href="https://blog.chromium.org/2017/05/goodbye-pnacl-hello-webassembly.html">Google deprecating NaCL</a> and while during it's six year lifespan, the NaCl client contributed 48 million Folding@home work units towards the study of human diseases; the only alternatives to date are installed clients that operate natively.</p>
        <p>My desktop computer has been packed away since the birth of our second child, and I don't feel comfortable pushing a heavy thermal load onto my laptop, therefore I haven't been able to contribute any folding cores in just over two years. I do hope to be able to do so again in the future.</p>
    </section>

    <section>
        <a id="inspiration"></a>
        <h2>Inspiration</h2>
        <p>
            Over the years I have drawn inspiration from many individuals who through their activities have make me want to grow and improve. A handful whom immediately jump to mind are the following:
        </p>
        <ul>
            <li><a href="https://www.piccalil.li">Andy Bell</a> <small>(<a href="https://twitter.com/piccalilli_">@piccalilli_</a>)</small></li>
            <li><a href="https://www.thejackforge.com/">Jack Forge</a> <small>(<a href="https://twitter.com/TheJackForge">@TheJackForge</a>)</small></li>
            <li><a href="https://wesbos.com/">Wes Bos</a> <small>(<a href="https://twitter.com/wesbos">@wesbos</a>)</small>
            <li><a href="https://cassidoo.co/">Cassidy Williams</a> <small>(<a href="https://twitter.com/cassidoo">@cassidoo</a>)</small></li>
            <li><a href="https://www.kina-ink.com/">Kina Forney</a> <small>(<a href="https://twitter.com/kinaink">@kinaink</a>)</small></li>
            <li><a href="https://www.kvlly.com/">Kelly Vaughn</a> <small>(<a href="https://twitter.com/kvlly">@kvlly</a>)</small></li>
        </ul>
    </section>
</article>
{% endblock %}
