{% extends "layouts/blank-base.njk" %}

{% set title = 'This page intentionally left blank' %}

{% block content %}
    <h1>[This Page <a href="https://web.archive.org/web/20180224075941/http://this-page-intentionally-left-blank.org/whythat.html">Intentionally</a> Left Blank]</h1>
{% endblock %}
