{% extends "layouts/blank-base.njk" %}

{% block head %}
<style>
    body {
        background: #0000aa;
    }
</style>
{% endblock %}

{% block content %}
    <img src="/img/gif/bsod.gif" alt="Microsoft Windows blue screen of death display." />
{% endblock %}