---
title: Hello
tags: ['type/info']
---
{% extends "layouts/base.njk" %}

{% block content %}
    <article>
        <section>
            <p>This is my <a href="https://alastairjohnston.com/introducing-hello-pages/">Hello page</a> where you can learn how I prefer to communicate. Consider this a <a href="https://www.kalzumeus.com/standing-invitation/">standing invitation</a> to get in touch if you have something to share or would like to chat.</p>
            <ul>
                <li><a href="https://notacult.social/@carbontwelve">Mastodon</a> is likely your best bet, it goes straight through to my phone</li>
                <li><a href="https://www.linkedin.com/in/simondann/">LinkedIn</a> is good for work but infrequently checked</li>
            </ul>
            <p>
                While I am found <a href="/elsewhere/">in many communities elsewhere</a> I don't expect to be contacted directly through them.
            </p>
        </section>
    </article>
{% endblock %}
