{% set page_class = 'page__homepage' %}
{% extends "layouts/base.njk" %}

{% block content %}
  <article>
    <header>
      <h1>Hello! I'm Simon,</h1>
      <h2>welcome to my digital garden.</h2>
    </header>
    <section>
      <p>I'm a <a href="https://github.com/carbontwelve">"full stack" web developer</a> and proud father of two. My interests include vintage computing, astrophysics and game development. I currently work as a senior developer for Wefix.</p>
      <p>In my spare time I maintain a number of <a href="/projects/">Open Source Projects</a> and can be found on <a href="/elsewhere/">various online platforms &amp; communities</a>.</p>
      <p>You can find out more <a href="/about/">about me</a>, what I <a href="/uses/">use</a>, the books that I <a href="/books/">have been reading</a> and what I am up to <a href="/now/">now</a>.</p>
    </section>
  </article>
{% endblock %}
