{% extends "layouts/page.njk" %}

{% set title = "My intentions for 2024" %}

{% block stylesheet %}
    <style>
        .two-columns {
            margin-top: 2rem;
        }
        .intentions-grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
            gap: .5em;
            max-width: 100%;
            width: 100%;
        }

        .intentions-grid > div {
            border: 1px solid;
            padding: 1em;
            text-align: center;
        }

        .intentions-grid h2,
        .intentions-grid p {
            margin: 0;
            width: 100%;
            text-align: center;
            text-align-last: center;
        }
        .intentions-grid h2 {
            margin-bottom: 1em;
        }
        .intentions-grid p {
            font-size: 0.9em;
        }
        .intentions-grid-about > h2 {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block pageContent %}
    {% for intention in intentions %}
        <section class="two-columns">
            <div class="intentions-grid">
                {% for month, plan in intention.months %}
                    <div>
                        <h2>{{ month }}</h2>
                        <p>{{ plan }}</p>
                    </div>
                {% endfor %}
            </div>

            <aside class="intentions-grid-about">
                <h2>What is this?</h2>
                <p>
                    This grid was inspired by this <a href="https://tiana.computer/sunday_sites/2024.html"><em>sunday site</em></a> created by <a href="https://tiana.computer/">Tiana Dueck's</a>. It gives a very brief breakdown of my main intention by month and will act as a companion to my <a href="/noteworthy/2024-roadmap/">2024 Roadmap</a>.
                </p>
                <hr />
                <p>
                    You should go and check out <a href="https://tiana.computer/sunday.html">Tiana's other sunday sites</a> or head over to <a href="https://sundaysites.cafe/">Sunday Sites Cafe</a> to find out what a <em>"sunday site"</em> is.
                </p>
            </aside>
        </section>
    {% endfor %}
{% endblock %}
