@import "../node_modules/normalize.css/normalize.css";

@import "_styles/_root.css";
@import "_styles/_layout.css";
@import "_styles/_article.css";
@import "_styles/_lists.css";
@import "_styles/_mainnav.css";
@import "_styles/_jumbonav.css";
@import "_styles/_buttonboard.css";

/* With thanks to the user Shaz @ Stack Overflow
 * @see https://stackoverflow.com/a/5379820/1225977 */
a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
  /* domains to exclude */
  [href*="//photogabble.co.uk"],
  /* subdomains to exclude */
  [href*="//www.photogabble.co.uk"]
)):not(.no-ext):after {
  content: "↗️";
  margin-left: 0.25rem;
  vertical-align: super;
  font-size: 0.5rem;
}
