---js
{
    pagination: {
        data: "collections",
        size: 1,
        alias: "topic",
        before(paginationData, fullData) {
            const excluded = (fullData.collections['type/topic'] ?? [])
                .reduce((carry, item) => {
                    const value = item.data?.topic ?? item.data.title;
                    if (value) carry.add(value);
                    return carry;
                }, new Set(['all']));

            return paginationData.filter((topic) => {
                return (topic.includes('/') || excluded.has(topic)) === false;
            });
        }
    },
    permalink: "/topic/{{ topic | slugify }}/",
    folder: ['writing', 'topic'],
}
---
{% extends "layouts/base.njk" %}

{% block sidebar %}
    {% set sidebar_title = 'Writing tagged as “' + topic + '”' %}
    {% set sidebar_topic = topic %}
    {% include "components/side-bars/topic.njk" %}
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>{{ topic }}</h1>
        </header>
        <section>
            <p>Hello world</p>
        </section>
    </article>
    <div>
        {% for topic in nakedTopics %}
            <p>{{ topic }}</p>
        {% endfor %}
    </div>
{% endblock %}
