---
title: VOID
tags:
    - list/button-board
button: powered-by-the-void.gif
---

{% extends "layouts/blank-base.njk" %}

{% set title = 'VOID' %}

{% block stylesheet %}
<style>
    body{
        background: black;
        color: #1c1c1c;
        height: 100vh;
        width: 100vw;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}

{% block content %}
    <!-- Hurrah, you found an easter egg page. -->
    <p>You hear an ominous hum...</p>
{% endblock %}

