<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}Does it work?{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
        <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css"/>
    {% if canonical %}
        <link rel="canonical" href="{{ canonical }}" />
    {% endif %}
    {% block head %}{% endblock %}
    <script data-goatcounter="https://photogabble.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</head>
<body class="{% block body_class %}{% endblock %}">

{%  block header %}
    {{  header | safe }}
{% endblock %}

<main>
    {% block content %}
        {{ content | safe }}
    {% endblock %}
</main>

<footer>
    <p>
        <a href="/" title="Back to home" class="no-underline">🌱</a> <em><a href="#">rss</a> | <a href="https://webring.xxiivv.com/#random" target="_blank" title="Web Ring">webring</a> | <a href="/legal/privacy">privacy policy</a></em>
    </p>

    <p>
        &copy; 2022 Simon Dann. <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Licensed CC BY-NC 4.0">CC BY-NC-SA 4.0</a>, <a href="https://github.com/photogabble/website">src</a>.<br/>
        <small>Any and all opinions listed here are my own and not
            representative of my employers; future, past and present. I may earn a portion of sales from
            products that are purchased through this site as part of Affiliate Partnerships with retailers.</small>
    </p>
</footer>
</body>
</html>
