<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}Does it work?{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
        <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css"/>
    {% if canonical %}
        <link rel="canonical" href="{{ canonical }}" />
    {% endif %}
    {% block head %}{% endblock %}
    <script data-goatcounter="https://photogabble.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <script>
        function setTheme(themeName) {
            localStorage.setItem('theme', themeName);
            document.documentElement.className = 'theme-'+themeName;

            let current = document.querySelector('.theme-picker li.current');
            if (!current) {return;}
            current
                .classList
                .remove('current');

            current = document.querySelector('.theme-picker li.' + 'theme-'+themeName);
            if (!current){return;}
            current
                .classList
                .add('current');
        }

        // Set theme before page renders
        (function () {
            setTheme(localStorage.getItem('theme') || 'dark');
        })();

        // When document ready add event listeners
        document.addEventListener("DOMContentLoaded", function() {
            const selectTheme = (e) => {
                const btn = e.currentTarget;
                if (!btn.dataset.theme) {
                    return;
                }
                setTheme(btn.dataset.theme);
            };

            Array.from(document.getElementsByClassName('theme-selector-btn')).forEach((el) => {
                console.log(el);
                el.addEventListener('click', selectTheme)
            });

            setTheme(localStorage.getItem('theme') || 'dark');
        });
    </script>
</head>
<body class="{% block body_class %}{% endblock %}">

<aside class="theme-picker">
    <h1>Theme Picker</h1>
    <ul>
        {%- for theme in themes -%}
        <li class="theme-{{ theme.id}} current">
            <button class="theme-selector-btn" data-theme="{{ theme.id }}">
                <span>{{ theme.title }}</span>
                <span class="swatches">
                    <span class="background"></span>
                    <span class="background-muted"></span>
                    <span class="foreground"></span>
                    <span class="foreground-muted"></span>
                    <span class="accent"></span>
                </span>
            </button>
        </li>
        {% endfor %}
    </ul>
</aside>

<header>
    {%  block header %}
        {{  header | safe }}
    {% endblock %}
</header>

<main>
    {% block content %}
        {{ content | safe }}
    {% endblock %}
</main>

<footer>
    <p>
        <a href="/" title="Back to home" class="no-underline">🌱</a> <em><a href="#">rss</a> | <a href="https://webring.xxiivv.com/#random" target="_blank" title="Web Ring">webring</a> | <a href="/legal/privacy">cookies &amp; privacy</a></em>
    </p>

    <p>
        &copy; 2022 Simon Dann. <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Licensed CC BY-NC 4.0">CC BY-NC-SA 4.0</a> | <a href="https://github.com/photogabble/website">src</a>.<br/>
        <small>Any and all opinions listed here are my own and not
            representative of my employers; future, past and present. I may earn a portion of sales from
            products that are purchased through this site as part of Affiliate Partnerships with retailers.</small>
    </p>
</footer>
</body>
</html>
