<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>

    <!-- Feeds -->
    <link rel="alternate" href="{{ metadata.feedUrl }}" type="application/atom+xml" title="Simon Dann&#39;s blog">

    <!-- SEO -->
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{description or metadata.description}}"/>
    <link rel="canonical" href="{{ canonical or page.url }}" />
    <meta name="robots" content="index, follow" />
    {% block head %}{% endblock %}

    <!-- Open Graph -->
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:type" content="{{ ogtype or 'website' }}">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@carbontwelve">
    <meta name="twitter:creator" content="@carbontwelve">
    <meta name="twitter:title" content="{{ title or metadata.title }}">

    <!-- TODO: Favicon Meta -->

    <!-- Assets, 3rd party scripts, etc -->
    <link rel="stylesheet" href="/style.css"/>
    <script data-goatcounter="https://photogabble.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    <script>
        function toggleThemePicker(){
            const themePicker = document.querySelector('.theme-picker');
            if (themePicker.classList.contains('is-open')) {
                themePicker.classList.remove('is-open');
            } else {
                themePicker.classList.add('is-open');
            }
        }

        function setTheme(themeName) {
            localStorage.setItem('theme', themeName);
            document.documentElement.className = 'theme-'+themeName;

            let current = document.querySelector('.theme-picker li.current');
            if (!current) {return;}
            current
                .classList
                .remove('current');

            current = document.querySelector('.theme-picker li.' + 'theme-'+themeName);
            if (!current){return;}
            current
                .classList
                .add('current');
        }

        // Set theme before page renders
        (function () {
            setTheme(localStorage.getItem('theme') || 'dark');
        })();

        // When document ready add event listeners
        document.addEventListener("DOMContentLoaded", function() {
            const selectTheme = (e) => {
                const btn = e.currentTarget;
                if (!btn.dataset.theme) {
                    return;
                }
                setTheme(btn.dataset.theme);
            };

            Array.from(document.getElementsByClassName('theme-selector-btn')).forEach((el) => {
                console.log(el);
                el.addEventListener('click', selectTheme)
            });

            setTheme(localStorage.getItem('theme') || 'dark');
        });
    </script>
</head>
<body class="{% block body_class %}{% endblock %}">

<aside class="theme-picker">
    <h1>Theme Picker</h1>
    <ul>
        {%- for theme in themes -%}
        <li class="theme-{{ theme.id}} current">
            <button class="theme-selector-btn" data-theme="{{ theme.id }}">
                <span>{{ theme.title }}</span>
                <span class="swatches">
                    <span class="background"></span>
                    <span class="background-muted"></span>
                    <span class="foreground"></span>
                    <span class="foreground-muted"></span>
                    <span class="accent"></span>
                </span>
            </button>
        </li>
        {% endfor %}
    </ul>
</aside>

<main>
    <header>
        {%  block header %}
            {{  header | safe }}
        {% endblock %}

        <button onclick="toggleThemePicker()">Theme Picker</button>
    </header>
    {% block content %}
        {{ content | safe }}
    {% endblock %}
    <footer>
        <p>
            <a href="/" title="Back to home" class="no-underline">🌱</a> <em><a href="/blog/feed.xml">rss</a> | <a href="https://webring.xxiivv.com/#random" target="_blank" title="XXIIVV webring">webring</a> | <a href="/legal/privacy">cookies &amp; privacy</a></em>
        </p>

        <p>
            &copy; 2022 Simon Dann. <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Licensed CC BY-NC 4.0">CC BY-NC-SA 4.0</a> | <a href="https://github.com/photogabble/website">src</a>.<br/>
            <small>Any and all opinions listed here are my own and not
                representative of my employers; future, past and present. I may earn a portion of sales from
                products that are purchased through this site as part of Affiliate Partnerships with retailers.</small>
        </p>
    </footer>
</main>
</body>
</html>
