<section>
    <ul>
        {%- for item in list.items -%}
            <li><a href="{{ item.data.cite.href }}" rel="noopener" title="Visit {{ item.data.title }}">{{ item.data.title }}</a> [<a href="{{ item.url }}" title="My notes on {{ item.data.title }}">My Notes</a>]</li>
        {%- endfor -%}
    </ul>
</section>