{% extends "./page.njk" %}

{% block content %}
    <article>
        <h1 class="with-sub-title">/now</h1>
        {% if isNow %}
            <p>Last updated {{ page.date | dateToFormat("dd LLL yyyy") }}</p>
        {% else %}
            <p>Published {{ page.date | dateToFormat("dd LLL yyyy") }}, this is an older now page.</p>
        {% endif %}

        <section>
            <p>
                This “now page” offers a big picture glimpse into my what I’m focused on at this point in my life.
                <a href="http://nownownow.com/about">What is a now page?</a>
            </p>

            {{ content | safe }}

            <p>
                You can see my bookshelf at <a href="https://bookwyrm.social/user/carbontwelve">bookwyrm.social</a> or
                at <a href="https://openlibrary.org/people/carbontwelve">openlibrary.org</a>.
            </p>
        </section>

        <nav>
            <h3>Update History</h3>
            <ul>
                {% set current = collections.nowUpdates | reverse | first %}
                {% for update in collections.nowUpdates | reverse %}
                    {% if update.fileSlug == current.fileSlug %}
                        <li><a href="/now" title="Go to current now page">Current</a></li>
                    {% else %}
                        {% set updateTitle = update.date | dateToFormat("dd LLL yyyy") %}
                        <li><a href="{{ update.url }}" title="Read {{ updateTitle }}">{{ updateTitle }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>

    </article>

{% endblock %}
