{% extends "./base.njk" %}

{% block header %}
    <nav>
        {% if breadcrumbs %}
            {% for crumb in breadcrumbs %}<a href="{{ crumb.href }}" title="{{ crumb.title }}">{{ crumb.text }}</a>/{% endfor %}
        {% else %}
            <a href="/">~</a>/
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <article {{ ('class="'+ headingClass +'"') | safe if headingClass }}>
        <header>
        {% block pageHeader %}
            {% if titlePrefix %}<small><span>{{ titlePrefix | safe }}</span></small>{% endif %}
            {% if title or headerTitle %}<h1>{{ (title or headerTitle) | safe }}</h1>{% endif %}
            {% if subTitle %}<h2>{{ subTitle | safe }}</h2>{% endif %}
        {% endblock %}
        </header>

        <span>&mdash;</span>

        {% block pageContent %}
            {{ content | safe }}
        {% endblock %}
    </article>
{% endblock %}
