{% extends "./base.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
    <header>
        <a href="/">..</a>
    </header>
{% endblock %}

{% block content %}
    <section>
        {% if title %}<h1 {% if sub_title %}class="with-sub-title"{% endif %}>{{ title }}</h1>{% endif %}
        {% if sub_title %}<p>{{ sub_title | safe }}</p>{%  endif %}

        {{ content | safe }}
    </section>
{% endblock %}
