{% extends "./base.njk" %}

{% block header %}
    <nav>
        {% if breadcrumbs %}
            {% for crumb in breadcrumbs %}<a href="{{ crumb.href }}" title="{{ crumb.title }}">{{ crumb.text }}</a>/{% endfor %}
        {% else %}
            <a href="/">~</a>/
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <article {{ ('class="'+ headingClass +'"') | safe if headingClass }}>
        <header>
        {% block pageHeader %}
            {{ ('<small class="heading-prefix"><span>'+ titlePrefix +'</span></small>') | safe if titlePrefix }}
            {{ ('<h1>' + title + '</h1>') | safe if title }}
            {{ ('<h2>' + subTitle + '</h2>') | safe if subTitle }}
        {% endblock %}
        </header>

        <span>&mdash;</span>

        {% block pageContent %}
            {{ content | safe }}
        {% endblock %}
    </article>
{% endblock %}
