{% extends "./page.njk" %}
{% set ogtype = 'article' %}
{% set author = people | whereKeyEquals('name', cite.name) | values(0) %}
{% set subTitle %}
    planted on <time datetime="{{ page.date.toISOString() }}">{{ page.date | dateToFormat("DDD") }}</time> in: {% include "../components/tag-list.njk" %}.
{% endset %}

{% block pageHeaderBefore %}
    <aside>
        <small><span>{{ titlePrefix | safe }}</span></small>
        <span>{{ cite.name }}</span>
        {% if author and author.socials %}
        <ul>
            {% for name, social in author.socials %}
            <li><a href="{{ social.href }}" aria-label="{{ social.nick }} on {{ name }}" rel="noopener">{{ name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </aside>
{% endblock %}

{% block pageContent %}
    <section>
        <div>
            <img src="{% screenshot cite.href, page.fileSlug %}" aria-hidden="true" alt="Screenshot of web page." />
            {% if feed or src or pages %}
            <nav>
                <ul>
                {% if feed and feed.rss %}
                    <li><a href="{{ feed.rss }}" target="_blank" rel="noopener">RSS</a></li>
                {% endif %}
                {% if src %}
                    <li><a href="{{ src.href }}" target="_blank" rel="noopener">{{ src.name }}</a></li>
                {% endif %}
                {% if pages and pages.bookmarks %}
                    <li><a href="{{ pages.bookmarks }}" target="_blank" rel="noopener">Bookmarks</a></li>
                {% endif %}
                {% if pages and pages.blogroll %}
                    <li><a href="{{ pages.blogroll }}" target="_blank" rel="noopener">Blogroll</a></li>
                {% endif %}
                {% if pages and pages.uses %}
                    <li><a href="{{ pages.uses }}" target="_blank" rel="noopener">/uses</a></li>
                {% endif %}
                {% if pages and pages.now %}
                    <li><a href="{{ pages.now }}" target="_blank" rel="noopener">/now</a></li>
                {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
        <p><a href="{{ cite.href }}">{{ cite.href }}</a></p>
        {{ content | safe }}
    </section>

    {% include "components/backlinks.njk" %}
{% endblock %}
