{% extends "./page.njk" %}
{% set ogtype = 'article' %}
{% set subTitle %}
    planted on <time datetime="{{ page.date.toISOString() }}">{{ page.date | dateToFormat("DDD") }}</time> in: {% include "../components/tag-list.njk" %}.
{% endset %}

{% block pageHeaderBefore %}
    <aside>
        <small><span>{{ titlePrefix | safe }}</span></small>
        {{ cite.name }}
    </aside>
{% endblock %}

{% block pageContent %}
    <section>
        <img src="#" aria-hidden="true" alt="Screenshot of web page." />
        <p><a href="{{ cite.href }}">{{ cite.href }}</a></p>
        {{ content | safe }}
        <small>&mdash; {{ cite.name }} | <a href="{{ cite.href }}">link</a></small>
    </section>

    {% include "components/backlinks.njk" %}
{% endblock %}
