{% extends "./page.njk" %}
{% set ogtype = 'article' %}
{% set readingTime = content | wordStats %}
{% set headingClass = 'note' %}
{% set titlePrefix %}
    {% include "../components/growth.njk" %} {{ contentType }}
{% endset %}

{% set subTitle %}
    planted on <time datetime="{{ page.date.toISOString() }}">{{ page.date | dateToFormat("DDD") }}</time> in: {% for tag in tags | formatTagList %}<a href="/topic/{{ tag.slug }}" title="Visit {{ tag.name }} index">{{ tag.name }}</a>{{ ' and ' if loop.revindex == 2 }}{{ ', ' if loop.revindex > 2 }}{% endfor %}.<br/>{{ readingTime.text if readingTime.words > 0 }}.
{% endset %}

{% block pageHeader %}

{% endblock %}

{% block pageContent %}
    {% if growthStage === 'stub' %}
    <section>
        <blockquote>
            <p>Note: This is a stub post to be filled out in the future. It has been created for the purpose of interlinking feel free to check out what links here from the list below to find related pages.</p>
        </blockquote>
    </section>
    {% endif %}

    <section>
        {{ content | safe }}
    </section>

    {% if tags | includesTag('wayback machine') %}
        <hr/>
        {% include "components/wayback-machine.njk" %}
    {% endif %}

    {% include "components/backlinks.njk" %}
{% endblock %}
