{% extends "./page.njk" %}

{% set ogtype = 'article' %}

{% block content %}
    <article>
        <h1>
            {{ title }}
        </h1>
        <p>
            Posted in:
            {% for category in categories | formatSlugList %}
                <a class="pill" href="/blog/{{ category.slug }}">{{ category.title }}</a>
            {% endfor %}
            on
            <time datetime="{{ page.date.toISOString() }}">
                {{ page.date | dateToFormat("dd LLL yyyy") }}
            </time><br/>
            {{ content | wordStats }}.
        </p>
        <section>
            {{ content | safe }}
        </section>
    </article>
{% endblock %}
