{% extends "./page.njk" %}

{% set ogtype = 'article' %}
{% set readingTime = content | wordStats %}

{% block content %}
    <article>
        <h1>
            {{ title }}
        </h1>
        <p>
            {% include "components/growth.njk" %}
            planted
            <time datetime="{{ page.date.toISOString() }}">
                {{ page.date | dateToFormat("dd LLL yyyy") }}
            </time>
            in
            {% for tag in tags | formatTagList %}
                <a class="pill" href="/topic/{{ tag.slug }}">{{ tag.name }}</a>
            {% endfor %}
            <br/>
            {{ readingTime.text }}.
        </p>
        <section>
            {{ content | safe }}
        </section>

        {% if backlinks.length > 0 %}
            <nav>
                <h3>Linking here</h3>
                <ul>
                    {%- for link in backlinks %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {%- endfor %}
                </ul>
            </nav>
        {% endif %}
    </article>
{% endblock %}
