{% extends "./base.njk" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <article>
        <h1>
            {{ title }}
        </h1>
        <p>
            {% for category in categories | formatSlugList %}
                <a class="pill" href="/blog/{{ category.slug }}">{{ category.title }}</a>
            {% endfor %}
            <time datetime="{{ date | dateToFormat("yyyy-MM-dd") }}">
                {{ date | dateToFormat("dd LLL yyyy") }}
            </time>
        </p>
        <section>
            {{ content | safe }}
        </section>
    </article>
{% endblock %}
