{% extends "./page.njk" %}

{% block content %}
    <article>
        <h1>
            {{ title }}
        </h1>
        <section>
            {{ content | safe }}
        </section>
    </article>
{% endblock %}
