{% extends "./page.njk" %}
{% set ogtype = 'article' %}

{% block content %}
    <article>
        <h1>
            {{ title }}
        </h1>
        <p>
            planted
            <time datetime="{{ page.date.toISOString() }}">
                {{ page.date | dateToFormat("dd LLL yyyy") }}
            </time>
        </p>

        <section>
            {{ content | safe }}
            <small>&mdash; {{ cite.name }} | <a href="{{ cite.href }}">link</a></small>
        </section>

        {% if backlinks.length > 0 %}
            <nav>
                <h3>Linking here</h3>
                <ul>
                    {%- for link in backlinks %}
                        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {%- endfor %}
                </ul>
            </nav>
        {% endif %}
    </article>
{% endblock %}
