@import "../node_modules/tufte-css/tufte.css";
@import "../node_modules/prismjs/themes/prism.css";
@import "../node_modules/prismjs/plugins/treeview/prism-treeview.css";

:root {
    --light: #fffff8;
    --light-transparent: #f9f9f7e3;
    --dark: #3f4551;
    --dark-transparent: #3f4551e3;
    --yellow: #fbc367;
    --red: #e56943;
    --light-blue: #22c4cc;
    --dark-blue: #3fc2f6;
}

a:link, a:visited {
    color: var(--red);
}

a:hover,
a[aria-current]{
    color: var(--yellow);
}

::selection {
    background-color: var(--yellow);
    color: var(--dark);
}

a::selection{
    text-shadow: none;
}

pre{
    background: var(--dark);
    color: var(--light);
    padding: 1rem 0;
}

blockquote {
    border-left: 4px solid var(--red);
    padding-left: 1rem;
    margin-left: 0;
}

ul.post-list{
    list-style:none;
    padding-left: 0;
}

ul.post-list li {
    margin-bottom: 0.5rem;
}
