@import "./themes.css";
@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/prismjs/themes/prism-tomorrow.min.css";
@import "../node_modules/prismjs/plugins/treeview/prism-treeview.css";

/* Components */
@import "./components/post-list.css";

* {
    box-sizing: border-box;
}

body {
    font-family: monospace, "Courier New", Courier;
    background-color: var(--background);
    color: var(--foreground);

    font-size: 1rem;
    line-height: 1.54;
    letter-spacing: -.02em;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl", "calt";
    font-variant-ligatures: contextual;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 300ms, color 200ms;
}

blockquote {
    margin-inline-start: 0;
    font-style: italic;
    border-left: 3px solid var(--foreground-muted);
    padding-left: 1em;
    color: var(--foreground-muted);
}

pre {
    background: var(--background-muted);
    color: var(--foreground);
    border-radius: 0.5em;
    overflow: scroll;
    padding: 1em;
}

hr{
    border: 0;
    border-bottom: 1px dotted var(--foreground-muted);
    margin: auto 0 0;
}

figure.fullwidth img {
    float: none;
}

figure.fullwidth figcaption {
    margin-right: 0;
    max-width: 90%;
    float: none;
}

a:link, a:visited {
    color: var(--accent);
}

::selection, .selected {
    background-color: var(--accent);
    color: var(--background);
}

a.no-underline{
    text-decoration: none;
}

.selected {
    padding: 0 0.2rem;
}

main, header {
    display: flex;
    flex-direction: column;
}

main {
    max-width: 1400px;
    width: 87.5%;
    padding-left: 12.5%;
    font-size: 1.2em;
    flex-grow: 1;
}

main > header{
    margin-bottom: 40px;
}

main p, main ul {
    width: 85%;
    max-width: 864px;
}

header{
    padding-bottom: 0;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > *:first-child{
    flex-grow: 1;
}

header a{
    text-decoration: none;
}

article p {
    text-align: justify;
    text-justify: inter-word;
}

article img {
    max-width: 100%;
    min-width: 100%;
}

.tags-list ul {
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer{
    background-color: var(--background-muted);
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    padding: 1em;
    border-top: 4px double var(--background-muted);
}

footer dt {
    font-weight: bold;
    font-size: 1.2em;
}

footer dd {
    display: inline-block;
    margin-inline-start:0;
}

footer dd:not(:last-child):after {
    content: '\00a0|\00a0';
}

footer dd a{
    font-style: italic;
}

footer p {
    grid-column: 1/-1;
    margin: 0;
}

.margin-note{
    float: right;
    clear: right;
    margin-right: -50%;
    width: 45%;
}

.margin-note img{
    max-width: 100%;
}

.with-sub-title{
    margin-bottom: 0;
}

.with-sub-title + p{
    margin-top:0;
}

/* Theme selector */
.theme-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: .875rem;
    background-color: var(--background-muted);
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height .4s cubic-bezier(.4,0,.2,1);
}

.theme-picker.is-open {
    height: 11rem;
}

.theme-picker h1{
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 0;
}

.theme-picker ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 1em 40px 2em;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    text-align: center;
    width: 100%;
}

.theme-picker li{
    border-radius: 0.4em;
    min-width: 140px;
    transform: scale(1);
    transition: transform .2s;
}

.theme-picker li:hover{
    box-shadow: 0 0 8px var(--foreground);
    transform: scale(1.05);
}

.theme-picker li.current{
    box-shadow: 0 0 0 2px var(--accent);
}

.theme-picker li + li{
    margin-left: 1rem;
}

.theme-picker li button {
    background-color: var(--background);
    color: var(--foreground);
    border: none;
    border-radius: .4em;
    padding: 1em;
    font-size: 0.9em;
    width: 100%;
    cursor: pointer;
}

.theme-picker .swatches{
    margin-top:.5em;
    display:block;
}

.theme-picker .swatches span{
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: black;
    border: 2px solid white;
}

.theme-picker .swatches span + span {
    margin-left: -0.995em;
}

.theme-picker .swatches span.background{
    background-color: var(--background);
}

.theme-picker .swatches span.background-muted{
    background-color: var(--background-muted);
}

.theme-picker .swatches span.foreground{
    background-color: var(--foreground);
}

.theme-picker .swatches span.foreground-muted{
    background-color: var(--foreground-muted);
}

.theme-picker .swatches span.accent{
    background-color: var(--accent);
}

.heading-prefix span{
    background-color: var(--accent);
    color: var(--background);
    padding: 2px 3px;
}

.heading-prefix + h1{
    margin-top: 0;
    font-size: 3rem;
    line-height: 3rem;
}

@media (max-width: 864px) {
    main{
        width: 100%;
        padding: 0 25px;
    }

    main p, main ul {
        width: 100%;
    }
}