@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/prismjs/themes/prism-tomorrow.min.css";
@import "../node_modules/prismjs/plugins/treeview/prism-treeview.css";

/* DARK THEME
 * Default
 */
html:root {
    --background: #18181c;
    --background-muted: #494f5c;
    --foreground: #e1dede;
    --foreground-muted: #a5a1a3;
    --accent: #fbc367;
}

/* LIGHT THEME
 * Camel
 */
html.theme-light {
    --background: #f5e4bc;
    --background-muted: #ecc979;
    --foreground: #292823;
    --foreground-muted: #19264b;
    --accent: #ff353f;
}


/* LIGHT THEME II
 * White + Purple
 */
.theme-light-purple {
    --background: #f3fbfe;
    --background-muted: #dfecf1;
    --foreground: #232323;
    --foreground-muted: #384043;
    --accent: #7754b0;
}

/**
 * LIGHT THEME III
 */
.theme-light-blue {
    --background: #f4f9fc;
    --background-muted: #aadcec;
    --foreground: #0f1b61;
    --foreground-muted: #73bbc5;
    --accent:#7f00e0;
}


* {
    box-sizing: border-box;
}

body {
    font-family: monospace, "Courier New", Courier;
    background-color: var(--background);
    color: var(--foreground);

    font-size: 1rem;
    line-height: 1.54;
    letter-spacing: -.02em;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl", "calt";
    font-variant-ligatures: contextual;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 300ms, color 200ms;
}

blockquote {
    margin-inline-start: 0;
    font-style: italic;
    border-left: 3px solid var(--foreground-muted);
    padding-left: 1em;
    color: var(--foreground-muted);
}

pre {
    background: var(--background-muted);
    color: var(--foreground);
    border-radius: 0.5em;
}

hr{
    border-color: var(--background-muted);
    min-width: 100%;
}

img {
    max-width: 100%;
    min-width: 100%;
}

figure.fullwidth img {
    float: none;
}

figure.fullwidth figcaption {
    margin-right: 0;
    max-width: 90%;
    float: none;
}

a:link, a:visited {
    color: var(--accent);
}

::selection, .selected {
    background-color: var(--accent);
    color: var(--background);
}

a.no-underline{
    text-decoration: none;
}

.selected {
    padding: 0 0.2rem;
}

main, header, footer {
    padding: 40px;
    padding-top:0;
    max-width: 864px;
    width: 864px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header{
    padding-bottom: 0;
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > *:first-child{
    flex-grow: 1;
}

header a{
    text-decoration: none;
}

main {
    font-size: 1.2em;
    flex-grow: 1;
}

article p {
    text-align: justify;
    text-justify: inter-word;
}

footer p {
    margin: 0.5em 0;
}

footer p:first-of-type {
    border-top: 4px double var(--background-muted);
    padding-top: 20px;
    margin-top: 0;
}

.with-sub-title{
    margin-bottom: 0;
}

.with-sub-title + p{
    margin-top:0;
}

/* Slider */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 33px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent);
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    content: "";
    font-size: 1.15rem;
    position: absolute;
    height: 27px;
    width: 27px;
    left: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: 0.4s;
    box-shadow: 0 0 6px var(--background-muted);
    border-radius: 50%;
    background-color: var(--background);
}

input:checked + .slider {
    background-color: var(--accent);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--accent);
}

input:checked + .slider:before {
    transform: translateX(26px);
}