:root {
    --light: #f9f9f7;
    --light-transparent: #f9f9f7e3;
    --dark: #3f4551;
    --dark-transparent: #3f4551e3;
    --yellow: #fbc367;
    --red: #e56943;
    --light-blue: #22c4cc;
    --dark-blue: #3fc2f6;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Default Page Theme: Light
 */
@layer base {
    html,
    body {
        background: var(--light);
        color: var(--dark);
        font-size: 17px;
    }

    blockquote {
        @apply border-blue-400;
        @apply border-l-4;
        @apply font-normal;
        @apply italic;
        @apply my-8;
        @apply pl-6;
        @apply text-gray-800;
        @apply text-lg;
    }

    code {
        @apply bg-gray-200;
        @apply px-2;
        @apply py-px;
        @apply rounded;
        @apply text-sm;
    }

    code.hljs {
        @apply bg-transparent;
        @apply p-0;
    }

    code.hljs .hljs-comment,
    code.hljs .hljs-keyword,
    code.hljs .hljs-meta {
        @apply font-normal;
        @apply font-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply leading-tight;
        @apply mb-4;
        @apply mt-8;
    }

    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child{
        @apply mt-0;
    }

    h1 {
        @apply font-extrabold;
        @apply text-5xl;
    }

    h2 {
        @apply font-bold;
        @apply text-4xl;
    }

    h3 {
        @apply font-bold;
        @apply text-3xl;
        @apply font-light;
    }

    h4 {
        @apply font-normal;
        @apply text-2xl;
        @apply font-light;
    }

    h5 {
        @apply font-normal;
        @apply text-xl;
        @apply font-light;
    }

    h6 {
        @apply font-light;
        @apply text-lg;
        @apply font-light;
    }

    hr {
        @apply border-b;
        @apply border-blue-200;
        @apply my-12;
        @apply rounded-full;
    }

    li ul,
    li ol {
        @apply my-0 ml-7;
    }

    ol,
    ul {
        @apply my-4 list-disc ml-6;
    }

    p {
        @apply mt-3 text-justify;
        line-height: 1.65rem;
    }

    @screen md {
        p {
            @apply mt-6;
        }
    }

    pre {
        @apply bg-gray-200;
        @apply leading-loose;
        @apply my-6;
        @apply overflow-x-auto;
        @apply p-4;
        @apply rounded;
        @apply shadow;
        @apply text-base;
    }

    pre code {
        @apply bg-transparent;
        @apply block;
        @apply p-0;
    }

    ::selection {
        background-color: var(--yellow);
        color: var(--dark);
    }

    a {
        @apply font-semibold;
        @apply no-underline;
        color: var(--dark-blue);
        border-bottom: 2px solid transparent;
        transition: border-bottom-color 300ms, color 300ms;
    }

    a:hover,
    a[aria-current]{
        color: var(--red);
        border-bottom-color: var(--yellow);
    }
}

/*
 * Body > Header
 */

body > header.full-fold{
    position: relative;
    height: 100vh;
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
}

body > header.full-fold h1,
body > header.full-fold h2{
    width: 600px;
    max-width: 100%;
    text-align: left;
    font-weight: lighter;
}

body > header.full-fold h2{
    font-weight: normal;
}

body > header input {
    height: 2.5rem;
    padding: .3rem .6rem;
    border-radius: .3rem;
    width: 16rem;
    color: var(--dark);
    border: 1px solid var(--dark-transparent);
}

body > header a.logo {
    @apply text-3xl font-bold mr-12;
    color: var(--light);
}

body > header a.logo span {
    color: var(--red);
}

main {
    @apply flex flex-col flex-grow;
}

/*
 * Body Themes: Dark Theme
 */

.dark{
    background: var(--dark);
    color: var(--light);
}

.dark a {
    color: var(--yellow);
}

.dark a[aria-current],
.dark a:hover {
    color: var(--light-blue);
    border-bottom-color: var(--yellow);
}

.dark code{
    color: var(--dark);
}

.dark > header h1{
    color: var(--yellow);
}

.dark > header h2{
    color: var(--red);
}

.dark > header h1 strong {
    color: var(--light-blue)
}

/*
 * Body Header Modifier: Patterned
 */
.dark.patterned {
    background-image: url('images/vectorstock_23549056.png');
}

.dark.patterned > header nav,
.dark.patterned > header h1,
.dark.patterned > header h2{
    background: var(--dark-transparent);
}


/*
 * Body Header Modifier: Yellow
 */

.yellow {
    background: var(--yellow);
}

.yellow ::selection {
    background-color: var(--dark);
    color: var(--yellow);
}

.yellow > header nav,
.yellow > header h1 {
    background: transparent;
}

.yellow > header a:not(.logo) {
    color: var(--dark);
}

.yellow > header a[aria-current],
.yellow > header a:not(.logo):hover {
    color: var(--light);
    border-bottom-color: var(--red);
}

.yellow > header h1 {
    color: var(--dark);
}

/*
 * Body Header Modifier: Light
 */

.light{
    background: var(--light);
    color: var(--dark);
}

body.light > header a.logo,
.light > header a {
    color: var(--dark);
}

body.light > header a[aria-current],
body.light > header a:not(.logo):hover {
    color: var(--red);
    border-bottom-color: var(--yellow);
}

body.light > header h1 {
    color: var(--dark);
}

.light.patterned {
    background-image: url('images/vectorstock_21883560.png');
}

.light.patterned > header nav,
.light.patterned header > * {
    background: var(--light-transparent);
}

.light a {
    color: var(--red);
}

/*
 * Body Header Modifier: Red
 */

.red {
    background: var(--red);
    color: var(--light);
}

.red > header nav,
.red > header h1 {
    background: transparent;
}

.red > header a:not(.logo) {
    color: var(--light);
}

.red > header a[aria-current],
.red > header a:not(.logo):hover {
    color: var(--dark);
    border-bottom-color: var(--yellow);
}

.red > header a.logo span {
    color: var(--yellow);
}

/*
 * Body Footer
 */
body > footer {
    background: #2161a7;
    color: #f9f9f7;
    min-height: 250px;
}

/*
 * "pill" styles
 */
.pill, a.pill{
    padding: 0.2rem 0.4rem;
    background: var(--red);
    color: var(--light);
    border-radius: 0.3rem;
    font-size: 0.75rem;
}

a.pill{
    border: 1px solid transparent;
    transition: border 300ms;
}

a.pill:hover{
    background: transparent;
    border: 1px solid var(--light);
    color: var(--light);
}