@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {}

:root{
    --light: #f9f9f7;
    --light-transparent: #f9f9f7e3;
    --dark: #3f4551;
    --dark-transparent: #3f4551e3;
    --yellow: #fbc367;
    --red: #e56943;
    --light-blue: #22c4cc;
    --dark-blue: #3fc2f6;
}

html{
    background-color: var(--light);
}

header{
    position: relative;
    height: 100vh;
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    background: var(--dark);
}

header h1{
    width: 600px;
    max-width: 100%;
    text-align: center;
    font-weight: lighter;
    color: var(--yellow);
}

header h1 strong{
    color: var(--light-blue);
}

header input{
    height: 2.5rem;
    padding: .3rem .6rem;
    border-radius: .3rem;
    width: 16rem;
    color: var(--dark);
}

header a{
    color: var(--yellow);
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 300ms, color 300ms;
}

header a:hover{
    color: var(--light-blue);
    border-bottom-color: var(--yellow);
}

header a.logo{
    @apply text-3xl font-bold mr-12;
    color: var(--light);
}

header a.logo span{
    color: var(--red);
}

/*
 * Header Modifier: Patterned
 */
header.dark.patterned{
    background-image: url('images/vectorstock_23549056.png');
}

header.dark.patterned nav,
header.dark.patterned h1{
    background: var(--dark-transparent);
}


/*
 * Header Modifier: Yellow
 */

header.yellow{
    background: var(--yellow);
}

header.yellow nav,
header.yellow h1{
    background: transparent;
}

header.yellow a:not(.logo){
    color: var(--dark);
}

header.yellow a:not(.logo):hover{
    color: var(--light);
    border-bottom-color: var(--red);
}

header.yellow h1{
    color: var(--dark);
}

/*
 * Header Modifier: Light
 */

header.light{
    background: var(--light);
}

header.light a{
    color: var(--dark);
}

header.light a:not(.logo):hover{
    color: var(--red);
    border-bottom-color: var(--yellow);
}

header.light h1{
    color: var(--dark);
}

header.light.patterned{
    background-image: url('images/vectorstock_21883560.png');
}

header.light.patterned nav,
header.light.patterned h1{
    background: var(--light-transparent);
}

/*
 * Header Modifier: Red
 */

header.red{
    background: var(--red);
}

header.red nav,
header.red h1{
    background: transparent;
}

header.red a:not(.logo){
    color: var(--light);
}

header.red a:not(.logo):hover{
    color: var(--dark);
    border-bottom-color: var(--yellow);
}

header.red a.logo span{
    color: var(--yellow);
}

footer{
    background: #2161a7;
    color: #f9f9f7;
    min-height: 250px;
}