@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

:root {
    --light: #f9f9f7;
    --light-transparent: #f9f9f7e3;
    --dark: #3f4551;
    --dark-transparent: #3f4551e3;
    --yellow: #fbc367;
    --red: #e56943;
    --light-blue: #22c4cc;
    --dark-blue: #3fc2f6;
}

html,
body {
    background: var(--light);
    color: var(--dark);
}

/*
 * Body > Header
 */

body > header.full-fold{
    position: relative;
    height: 100vh;
    min-height: 600px;
    width: 100%;
    overflow: hidden;
    flex-shrink: 0;
}

body > header.full-fold h1{
    width: 600px;
    max-width: 100%;
    text-align: center;
    font-weight: lighter;
}

body > header input {
    height: 2.5rem;
    padding: .3rem .6rem;
    border-radius: .3rem;
    width: 16rem;
    color: var(--dark);
    border: 1px solid var(--dark-transparent);
}

body > header a {
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 300ms, color 300ms;
}

body > header a.logo {
    @apply text-3xl font-bold mr-12;
    color: var(--light);
}

body > header a.logo span {
    color: var(--red);
}

main {
    @apply flex flex-col flex-grow;
}

/*
 * Body Themes: Dark Theme
 */

body.dark{
    background: var(--dark);
    color: var(--light);
}

body.dark > header a {
    color: var(--yellow);
}

body.dark > header a.is-current,
body.dark > header a:hover {
    color: var(--light-blue);
    border-bottom-color: var(--yellow);
}

body.dark > header h1 {
    color: var(--yellow);
}

body.dark > header h1 strong {
    color: var(--light-blue)
}

/*
 * Body Header Modifier: Patterned
 */
body.dark.patterned {
    background-image: url('images/vectorstock_23549056.png');
}

body.dark.patterned > header nav,
body.dark.patterned > header h1 {
    background: var(--dark-transparent);
}


/*
 * Body Header Modifier: Yellow
 */

body.yellow {
    background: var(--yellow);
}

body.yellow > header nav,
body.yellow > header h1 {
    background: transparent;
}

body.yellow > header a:not(.logo) {
    color: var(--dark);
}

body.yellow > header a.is-current,
body.yellow > header a:not(.logo):hover {
    color: var(--light);
    border-bottom-color: var(--red);
}

body.yellow > header h1 {
    color: var(--dark);
}

/*
 * Body Header Modifier: Light
 */

body.light {
    background: var(--light);
    color: var(--dark);
}

body.light > header a {
    color: var(--dark);
}

body.light > header a.is-current,
body.light > header a:not(.logo):hover {
    color: var(--red);
    border-bottom-color: var(--yellow);
}

body.light > header h1 {
    color: var(--dark);
}

body.light.patterned {
    background-image: url('images/vectorstock_21883560.png');
}

body.light.patterned > header nav,
body.light.patterned header > * {
    background: var(--light-transparent);
}

/*
 * Body Header Modifier: Red
 */

body.red {
    background: var(--red);
    color: var(--light);
}

body.red > header nav,
body.red > header h1 {
    background: transparent;
}

body.red > header a:not(.logo) {
    color: var(--light);
}

body.red > header a.is-current,
body.red > header a:not(.logo):hover {
    color: var(--dark);
    border-bottom-color: var(--yellow);
}

body.red > header a.logo span {
    color: var(--yellow);
}

/*
 * Body Footer
 */
body > footer {
    background: #2161a7;
    color: #f9f9f7;
    min-height: 250px;
}