---
title: Film and TV Series
subTitle: What I have been watching lately
titlePrefix: List
folder: [lists]
navigation_links:
  - title: 'Watched'
    href: '/lists/film-and-tv/'
  - title: 'Watchlist'
    href: '/lists/watchlist/'
---
{% extends "layouts/page-post.njk" %}

{% block sidebar %}
    {% include "components/side-bars/lists.njk" %}
{% endblock %}

{% block content %}
    <section>
        <ol role="list" class="review-list">
        {% for movie in movies %}
            {% if movie.reWatch == false %}
                <li>
                    <strong>{{ movie.title }} ({{ movie.year }})</strong>
                    <time>{{ movie.watchedDate | dateToFormat("dd LLL yyyy") }}</time>
                    {% if movie.rating %}
                        <span>{{ movie.rating | ratingToStars }}</span>
                    {% endif %}
                    {% if movie.review %}
                        <small><em>“{{ movie.review }}”</em></small>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
        </ol>
    </section>

    <hr/>

    <section>
        <p><small>This list layout is inspired from <a href="https://www.higby.io/movie-journal/" title="Visit Branden Higby's movies library">Branden Higby's movies library</a> in their digital garden.</small></p>
    </section>
{% endblock %}
