---
title: All Lists
tags:
  - type/index
topic: type/list
folder:
  - {title: 'lists'}
---
{% extends "layouts/base.njk" %}

{% block sidebar %}
    {% include "components/side-bars/lists.njk" %}
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Lists</h1>
            <h2>Yes, I'm a Digital Magpie</h2>
        </header>
        <section>
            <p>Being that this website is a digital garden, it's natural for it to grow collections of <em>things</em>. This is further amplified by my tendency to transform into a digital magpie and go on week long digital spelunking sessions, collecting many, many things as a result.</p>
        </section>
    </article>
{% endblock %}
