---
pagination:
  data: collections.lists
  size: 1
  alias: list
  addAllPagesToCollections: true
permalink: "{{ list.permalink }}"
folder: [lists]
eleventyComputed:
  title: "{{ list.title }}"
---

{% extends "layouts/base.njk" %}

{% block sidebar %}
    {% include "components/side-bars/lists.njk" %}
{% endblock %}

{% set titlePrefix = list.prefix or 'List' %}
{% set subTitle = list.description %}

{% block content %}
    <article>
        <header>
            <a href="/lists/">{{ titlePrefix }}</a>
            <h1>{{ list.title }}</h1>
            {%- if list.description %}<h2>{{ list.description }}</h2>{% endif %}
        </header>
        <section>
            {% if list.layout %}
                {% include list.layout %}
            {% else %}
                {% include "layouts/list-default.njk" %}
            {% endif %}
        </section>
    </article>
{% endblock %}
