---
pagination:
  data: collections.lists
  size: 1
  alias: list
  addAllPagesToCollections: true
permalink: "{{ list.permalink }}"
folder: lists
eleventyComputed:
  title: "{{ list.title }}"
---

{% extends "layouts/page.njk" %}

{% set titlePrefix = list.prefix or 'List' %}
{% set subTitle = list.description %}

{% block pageContent %}
    {% if list.layout %}
        {% include list.layout %}
    {% else %}
        {% include "layouts/list-default.njk" %}
    {% endif %}
{% endblock %}