---
title: Watchlist
subTitle: Films and Series I would like to watch
titlePrefix: List
folder: [lists]
navigation_links:
- title: 'Watched'
  href: '/lists/film-and-tv/'
- title: 'Watchlist'
  href: '/lists/watchlist/'
---

{% extends "layouts/page-post.njk" %}

{% block sidebar %}
    {% include "components/side-bars/lists.njk" %}
{% endblock %}

{% block content %}
<p>Hello world</p>
{% endblock %}
