---js
{
    pagination: {
        data: "collections.topics",
        size: 1,
        alias: "topic",
        before(paginationData, fullData) {
            return paginationData.filter((topic) => {
                return typeof topic.page === 'undefined';
            });
        }
    },
    permalink: "{{ topic.permalink }}/",
    folder: ['topic'],
    page_type: 'topic'
}
---
{% extends "layouts/page-index.njk" %}

{% set title = topic.name %}
{% set sidebar_items = topic.items | reverse %}
{% set sidebar_component = 'list-table-grouped' %}
{% set stats = topic.items | collectionStats %}

{% set content %}
    {% include "components/partials/article-footer-statistics.njk" %}
{% endset %}
