---js
{
    pagination: {
        data: "collections.topics",
        size: 1,
        alias: "topic",
        before(paginationData, fullData) {
            return paginationData.filter((topic) => {
                return typeof topic.page === 'undefined';
            });
        }
    },
    permalink: "{{ topic.permalink }}/",
    folder: ['topic'],
}
---
{% extends "layouts/base.njk" %}

{% block sidebar %}
    {% set sidebar_title = 'Writing tagged as “' + topic.name + '”' %}
    {% set sidebar_items = topic.items %}
    {% set displayContentType = true %}
    {% include "components/side-bars/topic.njk" %}
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>{{ topic.name }}</h1>
        </header>
        <section>
            <p>Hello world</p>
        </section>
    </article>
    <div>
        {% for topic in nakedTopics %}
            <p>{{ topic }}</p>
        {% endfor %}
    </div>
{% endblock %}
