{% set items = collections[sidebar_topic] | notTagged('stage/stub') | alphabetSort %}

<section class="post-list">
    <header class="post-list__inline-header">
        <h3>{{ sidebar_title }}</h3>
        <nav>
            <ul class="alphabet">
                {%- for letter, terms in items %}
                    <li><a {{ 'href=#' + letter if terms.length else '' }}>{{ letter }}</a></li>
                {%- endfor %}
            </ul>
        </nav>
    </header>
    <ol class="post-list__alphabetised">
        {%- for letter, terms in items -%}
            {% if terms.length > 0 %}
            <li id="{{ letter }}">{{ letter }}
                <ul>
                    {%- for term in terms %}
                        <li>{% if page and page.url === term.url %}»{% endif %} <a href="{{ term.url }}">{{ term.data.title }} {%- if term.data.backlinks.length > 0 %} <small>({{ term.data.backlinks.length }})</small>{%- endif %}</a></li>
                    {%- endfor %}
                </ul>
            </li>
            {% endif %}
        {%- endfor -%}
    </ol>
</section>
