<section class="post-list">
    <header class="post-list__inline-header">
        <h3>Previous <code>/now</code> entries</h3>
    </header>
    <ol class="post-list__chronological">
        <li><span><a href="#" title="Read ...">Current <code>/now</code> entry</a></span><hr><small>April 27, 2024</small></li>
        <li><span><a href="#" title="Read ...">February 2023</a></span><hr><small>April 27, 2024</small></li>
        <li><span><a href="#" title="Read ...">January 2023</a></span><hr><small>April 27, 2024</small></li>
        <li><span><a href="#" title="Read ...">June 2022</a></span><hr><small>April 27, 2024</small></li>
        <li><span><a href="#" title="Read ...">May 2022</a></span><hr><small>April 27, 2024</small></li>
    </ol>
    <footer>
        <nav><a href="https://nownownow.com/about">What is a now page?</a> | <a href="https://nownownow.com/"><code>/now</code> page directory</a></nav>
    </footer>
</section>
