{% set seriesId = tags | specialTagValue('series') %}
{% if seriesId %}
    {% set seriesMeta = collections.topics | whereKeyEquals('topic', 'series/' + seriesId) | first %}
    {% set idx = seriesMeta.items | ixdInCollection(page) %}
    <nav class="article-series__content" style="margin-top: 1rem">
        <h4>Part of series <a href="{{ seriesMeta.permalink }}">{{ seriesMeta.name }}</a></h4>
        <ol>
            {%- for post in seriesMeta.items | neighbours(idx, 3) | reverse -%}
                <li><a href="{{ post.url }}" title="Read {{ post.data.title }}">{{ post.data.title }}</a></li>
            {%- endfor -%}
        </ol>
        {% if seriesMeta.items.length > 6 %}
            <a href="{{ seriesMeta.permalink }}">More&hellip;</a>
        {% endif %}
    </nav>
    <hr style="margin-top: 1rem;" />
{% endif %}
