{% set seriesId = tags | specialTagValue('series') %}
{% set seriesMeta = collections.topics | whereKeyEquals('topic', 'series/' + seriesId) | first %}

<section class="post-list">
    <header class="post-list__inline-header">
        <h3>{{ seriesMeta.name }}</h3> {{ seriesMeta.items.length }} {% if seriesMeta.items.length > 1 %}items{% else %}item{% endif %}
    </header>
    <ol class="post-list__chronological">
        {%- for post in seriesMeta.items -%}
            {% include "components/post-list-line.njk" %}
        {%- endfor -%}
    </ol>
    <footer>
        <nav><a href="{{ seriesMeta.permalink }}">{{ seriesMeta.name }} Overview</a> | <a href="/series/">All Series</a></nav>
    </footer>
</section>
