{% set itemsByYear = collections.writing | notTagged(['type/project', 'type/resource', 'stage/stub', 'type/glossary', 'type/changelog']) | reverse | groupByYear %}

{% include 'components/partials/post-list-by-year.njk' %}

<hr/>

{% set contentTypes = collections | specialTagsInCollection('type', ['type/resource', 'type/project', 'type/topic', 'stage/stub']) %}
<section>
    <nav>
        {% for contentType in contentTypes %}
            {% set isContentType = tags | includes(contentType.name) %}
            {% set currentContentType = metadata.contentTypes[contentType.name] %}
            <a href="{{ contentType.permalink }}">{{ contentType.title or contentType.name }} ({{ contentType.usages }}){% if isContentType %}*{% endif %}</a>
        {% endfor %}
    </nav>
</section>
